In [3]:
import pandas as pd

In [5]:
gage_location = pd.read_csv('./2022_서울시 우리마을가게 상권 위도 경도.csv', encoding='EUC-KR')
gage_location

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [20]:
gage_money = pd.read_csv('./2022_서울시 우리마을가게 상권분석서비스(상권-추정매출).csv', encoding='EUC-KR')
gage_money

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,2,A,골목상권,2110840,중앙대학교,CS300022,화장품,4692836,13,...,0,13,0,0,0,0,13,0,0,5
1,2022,2,A,골목상권,2110374,송중초등학교,CS100007,치킨전문점,96039113,4422,...,1245,2414,2003,47,632,599,1328,1219,593,5
2,2022,2,A,골목상권,2110356,덕수교,CS300043,전자상거래업,1000000,20,...,0,0,20,0,0,0,0,20,0,7
3,2022,2,A,골목상권,2110497,가좌역 3번,CS300018,의약품,1855582395,139904,...,0,65015,74889,1054,11575,30249,40571,28585,27870,5
4,2022,2,A,골목상권,2110919,내방역 8번,CS200030,피부관리실,431884,7,...,0,7,0,0,0,0,7,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68863,2022,1,R,전통시장,2130168,연서시장,CS200024,스포츠클럽,323358947,707,...,29,314,393,10,285,185,45,147,35,*
68864,2022,1,R,전통시장,2130235,대명여울빛거리시장(대명시장),CS200028,미용실,31975474,1231,...,0,627,604,0,166,371,124,173,397,*
68865,2022,1,A,골목상권,2110877,신림역 8번,CS200026,자동차미용,31708894,534,...,0,348,62,0,24,50,162,75,99,*
68866,2022,1,R,전통시장,2130235,대명여울빛거리시장(대명시장),CS300009,청과상,615326958,28833,...,0,11127,17706,0,362,1806,4493,4335,17837,7
68867,2022,1,R,전통시장,2130273,남성사계시장(남성시장),CS200024,스포츠클럽,8785714,58,...,5,42,16,0,21,16,0,21,0,*

In [10]:
gage_apartment = pd.read_csv('./2022_서울시 우리마을가게 상권분석서비스(상권-아파트).csv', encoding='EUC-KR')
gage_apartment

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,...,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
0,2022,1,A,골목상권,2110002,독립문역 1번,7,20.0,94.0,NaN,...,NaN,4.0,13.0,27.0,21.0,NaN,NaN,49.0,70,295972850
1,2022,1,A,골목상권,2110003,세검정초등학교,70,419.0,232.0,35.0,...,8.0,30.0,313.0,224.0,69.0,28.0,96.0,19.0,79,278062827
2,2022,1,A,골목상권,2110004,대신고등학교,6,17.0,11.0,NaN,...,NaN,11.0,6.0,11.0,NaN,NaN,NaN,NaN,50,129236667
3,2022,1,A,골목상권,2110005,세검정,40,135.0,167.0,69.0,...,59.0,51.0,101.0,159.0,54.0,8.0,11.0,63.0,92,300714862
4,2022,1,A,골목상권,2110006,부암동주민센터,2,NaN,16.0,4.0,...,1.0,NaN,NaN,12.0,8.0,NaN,NaN,1.0,93,318666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,2022,2,R,전통시장,2130326,고덕 골목형상점가,2,657.0,5.0,NaN,...,NaN,NaN,2.0,4.0,NaN,129.0,21.0,506.0,53,633301800
2962,2022,2,U,관광특구,1001491,이태원 관광특구,72,376.0,197.0,52.0,...,61.0,5.0,106.0,102.0,186.0,139.0,89.0,123.0,79,439233880
2963,2022,2,U,관광특구,1001493,동대문패션타운 관광특구,11,627.0,97.0,151.0,...,29.0,NaN,504.0,119.0,80.0,10.0,NaN,295.0,45,259406778
2964,2022,2,U,관광특구,1001494,종로?청계 관광특구,9,370.0,12.0,NaN,...,NaN,54.0,195.0,133.0,NaN,NaN,NaN,NaN,37,141690132
2965,2022,2,U,관광특구,1001495,잠실 관광특구,30,834.0,201.0,237.0,...,192.0,10.0,413.0,297.0,118.0,29.0,70.0,1170.0,74,552320698

In [12]:
gege_open_close = pd.read_csv('./2022_서울시_개점_폐업.csv', encoding='EUC-KR')
gege_open_close

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,7,7,0,0,0,0,0
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300042,주유소,1,1,0,0,0,0,0
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300041,예술품,10,10,0,0,0,0,0
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300038,자동차부품,10,10,0,0,0,0,0
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300036,조명용품,14,14,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,2020,2,A,골목상권,2110787,신길3동주민센터,CS300006,미곡판매,2,2,0,0,0,0,0
639996,2020,2,A,골목상권,2110787,신길3동주민센터,CS300005,주류도매,1,1,0,0,0,0,0
639997,2020,2,A,골목상권,2110787,신길3동주민센터,CS300004,핸드폰,1,1,0,0,0,0,0
639998,2020,2,A,골목상권,2110787,신길3동주민센터,CS300003,컴퓨터및주변장치판매,4,4,0,0,0,0,0
639999,2020,2,A,골목상권,2110787,신길3동주민센터,CS300002,편의점,0,3,0,0,0,0,3

In [7]:
gage_location['상권_코드'].value_counts()

2110753    1
2110402    1
2120095    1
2120146    1
2120057    1
          ..
2110747    1
2110748    1
2110857    1
2110740    1
1001491    1
Name: 상권_코드, Length: 1671, dtype: int64

In [9]:
gage_money['상권_코드'].value_counts()

1001492    114
1001494    112
2120081    105
2120104    103
2120175    102
          ...
2110338      2
2130237      2
2110046      2
2110806      2
2130006      1
Name: 상권_코드, Length: 1650, dtype: int64

In [11]:
gage_apartment['상권_코드'].value_counts()

2110002    2
2111034    2
2111043    2
2111042    2
2111041    2
          ..
2110516    2
2110515    2
2110514    2
2110513    2
1001495    2
Name: 상권_코드, Length: 1483, dtype: int64

In [13]:
gege_open_close['상권_코드'].value_counts()

2120189    872
2120187    846
2120197    839
2120173    837
1001492    834
          ...
2130124     21
2130014     18
2130234     18
2130251      9
2130028      3
Name: 상권_코드, Length: 1666, dtype: int64

# 지도의 위치정보가 다른 파일들보다 더많기 때문에 합병에 문제는 없을 것이다.

## 1.위치정보 부터 수정하자

In [14]:
gage_location

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [15]:
gage_location_processing = gage_location.drop(['기준_년월_코드', '상권_구분_코드',  '시군구_코드',  '행정동_코드', '형태정보' ], axis=1)
gage_location_processing

     상권_구분_코드_명    상권_코드       상권_코드_명  엑스좌표_값  와이좌표_값
0          골목상권  2110753   시흥동 은행나무사거리  191934  438813
1          골목상권  2110427    노원 을지대학교병원  206265  459431
2          골목상권  2110755      동일여자고등학교  192300  439070
3          골목상권  2110739    시흥3동 우편취급국  191289  438014
4          골목상권  2111017      송파나루역 3번  210222  445516
...         ...      ...           ...     ...     ...
1666       관광특구  1001493  동대문패션타운 관광특구  200974  451975
1667       관광특구  1001494    종로?청계 관광특구  199768  452273
1668       관광특구  1001495       잠실 관광특구  210191  446339
1669       관광특구  1001496   강남 마이스 관광특구  205310  445727
1670       관광특구  1001491      이태원 관광특구  199503  448326

[1671 rows x 5 columns]

In [16]:
gage_location_processing.to_csv('./서울시 상업지역 위치정보_가공.csv', encoding='EUC-KR', index=False)

## 2. 추정매출을 수정하자.
- 상권의 데이터는 기준분기를 2분기로 설정하자. (3분기가 없음) 
- 2분기 매출을 3으로 나누면 한달매출이 나올 것이라 생각된다.

In [38]:
gage_money

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,2,A,골목상권,2110840,중앙대학교,CS300022,화장품,4692836,13,...,0,13,0,0,0,0,13,0,0,5
1,2022,2,A,골목상권,2110374,송중초등학교,CS100007,치킨전문점,96039113,4422,...,1245,2414,2003,47,632,599,1328,1219,593,5
2,2022,2,A,골목상권,2110356,덕수교,CS300043,전자상거래업,1000000,20,...,0,0,20,0,0,0,0,20,0,7
3,2022,2,A,골목상권,2110497,가좌역 3번,CS300018,의약품,1855582395,139904,...,0,65015,74889,1054,11575,30249,40571,28585,27870,5
4,2022,2,A,골목상권,2110919,내방역 8번,CS200030,피부관리실,431884,7,...,0,7,0,0,0,0,7,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68863,2022,1,R,전통시장,2130168,연서시장,CS200024,스포츠클럽,323358947,707,...,29,314,393,10,285,185,45,147,35,*
68864,2022,1,R,전통시장,2130235,대명여울빛거리시장(대명시장),CS200028,미용실,31975474,1231,...,0,627,604,0,166,371,124,173,397,*
68865,2022,1,A,골목상권,2110877,신림역 8번,CS200026,자동차미용,31708894,534,...,0,348,62,0,24,50,162,75,99,*
68866,2022,1,R,전통시장,2130235,대명여울빛거리시장(대명시장),CS300009,청과상,615326958,28833,...,0,11127,17706,0,362,1806,4493,4335,17837,7
68867,2022,1,R,전통시장,2130273,남성사계시장(남성시장),CS200024,스포츠클럽,8785714,58,...,5,42,16,0,21,16,0,21,0,*

In [48]:
gage_money_procesing = gage_money[gage_money['기준_분기_코드'].isin([2])]
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,2,A,골목상권,2110840,중앙대학교,CS300022,화장품,4692836,13,...,0,13,0,0,0,0,13,0,0,5
1,2022,2,A,골목상권,2110374,송중초등학교,CS100007,치킨전문점,96039113,4422,...,1245,2414,2003,47,632,599,1328,1219,593,5
2,2022,2,A,골목상권,2110356,덕수교,CS300043,전자상거래업,1000000,20,...,0,0,20,0,0,0,0,20,0,7
3,2022,2,A,골목상권,2110497,가좌역 3번,CS300018,의약품,1855582395,139904,...,0,65015,74889,1054,11575,30249,40571,28585,27870,5
4,2022,2,A,골목상권,2110919,내방역 8번,CS200030,피부관리실,431884,7,...,0,7,0,0,0,0,7,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34321,2022,2,A,골목상권,2110314,종암경찰서,CS300009,청과상,248942472,6444,...,0,2366,3460,0,117,537,859,2760,1554,3
34322,2022,2,A,골목상권,2110329,우리은행체육관,CS100001,한식음식점,434951144,14934,...,2410,9513,4976,126,1860,3834,3466,2606,2597,12
34323,2022,2,A,골목상권,2111090,강일동주민센터,CS300010,반찬가게,172294377,12687,...,402,5445,7234,22,667,2355,4230,3494,1912,7
34324,2022,2,A,골목상권,2110398,쌍문2동우체국,CS300010,반찬가게,12000000,896,...,7,298,598,0,13,125,280,268,210,3
34325,2022,2,A,골목상권,2111090,강일동주민센터,CS100005,제과점,567977285,60841,...,4956,27980,30390,703,6430,13196,16380,10666,10995,4

In [49]:
gage_money_procesing = gage_money_procesing.drop(['상권_구분_코드', '서비스_업종_코드', '서비스_업종_코드_명'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['남성_매출_건수', '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수',
                                                 '연령대_30_매출_건수', '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['시간대_00~06_매출_비율', '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율', '연령대_50_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['연령대_60_이상_매출_비율', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', 
                                                 '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액'], axis=1)
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,분기당_매출_금액,분기당_매출_건수,주중_매출_금액,주말_매출_금액,시간대_00~06_매출_금액,...,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수
0,2022,2,골목상권,2110840,중앙대학교,4692836,13,4692836,0,0,...,0,0,0,0,0,13,0,0,0,5
1,2022,2,골목상권,2110374,송중초등학교,96039113,4422,62654206,33384907,2275675,...,661,903,656,89,0,235,429,2424,1245,5
2,2022,2,골목상권,2110356,덕수교,1000000,20,1000000,0,0,...,0,0,0,0,0,0,20,0,0,7
3,2022,2,골목상권,2110497,가좌역 3번,1855582395,139904,1545393368,310189027,0,...,24909,21008,0,0,30335,36764,42911,29894,0,5
4,2022,2,골목상권,2110919,내방역 8번,431884,7,431884,0,0,...,7,0,0,0,0,0,7,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34321,2022,2,골목상권,2110314,종암경찰서,248942472,6444,222602324,26340148,0,...,1103,788,501,0,754,1380,2627,1683,0,3
34322,2022,2,골목상권,2110329,우리은행체육관,434951144,14934,323363733,111587411,2208718,...,1961,2240,2172,511,371,3168,2254,6220,2410,12
34323,2022,2,골목상권,2111090,강일동주민센터,172294377,12687,138311435,33982942,0,...,1819,1774,605,0,794,2562,2695,6234,402,7
34324,2022,2,골목상권,2110398,쌍문2동우체국,12000000,896,10445948,1554052,0,...,153,126,0,0,60,133,184,512,7,3
34325,2022,2,골목상권,2111090,강일동주민센터,567977285,60841,416514089,151463196,0,...,9196,10662,5575,0,8491,12352,14971,20071,4956,4

In [50]:
gage_money_procesing.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
       '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
       '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '점포수'],
      dtype='object')

In [51]:
gage_money_procesing = gage_money_procesing.drop(['남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', 
                                                 '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액',
                                                 '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
                                                '일요일_매출_건수', ], axis=1)
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,분기당_매출_금액,분기당_매출_건수,주중_매출_금액,주말_매출_금액,시간대_00~06_매출_금액,...,시간대_21~24_매출_금액,주중_매출_건수,주말_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수
0,2022,2,골목상권,2110840,중앙대학교,4692836,13,4692836,0,0,...,0,13,0,0,0,13,0,0,0,5
1,2022,2,골목상권,2110374,송중초등학교,96039113,4422,62654206,33384907,2275675,...,26748456,2863,1559,89,0,235,429,2424,1245,5
2,2022,2,골목상권,2110356,덕수교,1000000,20,1000000,0,0,...,0,20,0,0,0,0,20,0,0,7
3,2022,2,골목상권,2110497,가좌역 3번,1855582395,139904,1545393368,310189027,0,...,0,118896,21008,0,30335,36764,42911,29894,0,5
4,2022,2,골목상권,2110919,내방역 8번,431884,7,431884,0,0,...,0,7,0,0,0,0,7,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34321,2022,2,골목상권,2110314,종암경찰서,248942472,6444,222602324,26340148,0,...,0,5155,1289,0,754,1380,2627,1683,0,3
34322,2022,2,골목상권,2110329,우리은행체육관,434951144,14934,323363733,111587411,2208718,...,59457133,10522,4412,511,371,3168,2254,6220,2410,12
34323,2022,2,골목상권,2111090,강일동주민센터,172294377,12687,138311435,33982942,0,...,7422908,10308,2379,0,794,2562,2695,6234,402,7
34324,2022,2,골목상권,2110398,쌍문2동우체국,12000000,896,10445948,1554052,0,...,56296,770,126,0,60,133,184,512,7,3
34325,2022,2,골목상권,2111090,강일동주민센터,567977285,60841,416514089,151463196,0,...,49699598,44604,16237,0,8491,12352,14971,20071,4956,4

In [61]:
gage_money_procesing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34326 entries, 0 to 34325
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년_코드          34326 non-null  int64
 1   기준_분기_코드         34326 non-null  int64
 2   상권_구분_코드_명       34326 non-null  object
 3   상권_코드            34326 non-null  int64
 4   상권_코드_명          34326 non-null  object
 5   분기당_매출_금액        34326 non-null  int64
 6   분기당_매출_건수        34326 non-null  int64
 7   주중_매출_금액         34326 non-null  int64
 8   주말_매출_금액         34326 non-null  int64
 9   시간대_00~06_매출_금액  34326 non-null  int64
 10  시간대_06~11_매출_금액  34326 non-null  int64
 11  시간대_11~14_매출_금액  34326 non-null  int64
 12  시간대_14~17_매출_금액  34326 non-null  int64
 13  시간대_17~21_매출_금액  34326 non-null  int64
 14  시간대_21~24_매출_금액  34326 non-null  int64
 15  주중_매출_건수         34326 non-null  int64
 16  주말_매출_건수         34326 non-null  int64
 17  시간대_건수~06_매출_건수  34326 non-null  int64
 18  시간대_건수~11_매출_건수  34326 non-null  int64
 19  시간대_건수~14_매출_건수  34326 non-null  int64
 20  시간대_건수~17_매출_건수  34326 non-null  int64
 21  시간대_건수~21_매출_건수  34326 non-null  int64
 22  시간대_건수~24_매출_건수  34326 non-null  int64
 23  점포수              34326 non-null  object
dtypes: int64(21), object(3)
memory usage: 6.5+ MB

# 점포수의 경우 모를 경우 *로 표시되어 있다.

In [74]:
gage_money_procesing.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '주중_매출_건수', '주말_매출_건수',
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '점포수'],
      dtype='object')

In [102]:
for i in range(len(gage_money_procesing)):
    if gage_money_procesing['점포수'][i] == '*':
        gage_money_procesing['점포수'][i] = 0

gage_money_procesing = gage_money_procesing.astype({'점포수' : int})

In [103]:
import numpy as np

In [104]:
gage_money_procesing_pivot = gage_money_procesing.pivot_table(gage_money_procesing, index=["상권_코드"], aggfunc = [np.sum] )
gage_money_procesing_pivot

C:\Users\김두엽\AppData\Local\Temp\ipykernel_31664\992476297.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gage_money_procesing_pivot = gage_money_procesing.pivot_table(gage_money_procesing, index=["상권_코드"], aggfunc = [np.sum] )

            sum                                                   \
        기준_년_코드 기준_분기_코드 분기당_매출_건수     분기당_매출_금액 시간대_00~06_매출_금액
상권_코드
1001491   86946       86   4345470  125128808539     12287440264
1001492  115254      114  15035663  414295939101      3296503823
1001493   95034       94   7821510  226971025345      6995302469
1001494  113232      112   7484371  270349786683      4112481203
1001495   80880       80   5520817  109710843704      6648370110
...         ...      ...       ...           ...             ...
2130322   50550       50    215630    3958481135       116445747
2130323   58638       58    598080   13428152555       108921590
2130324   56616       56    263420    5143279432         9935511
2130325   32352       32    259944    4766099294         1803760
2130326   48528       48    844112   13770789479        87595921

                                                                         \
        시간대_06~11_매출_금액 시간대_11~14_매출_금액 시간대_14~17_매출_금액 시간대_17~21_매출_금액
상권_코드
1001491      3754856633     18836780750     33168576628     38789060268
1001492     40631041819    139554611250    108275030042     93850950395
1001493     12889467548     55562002082     64030750408     67081016906
1001494     26599087584     79951861628     87677943831     54400327176
1001495      8584623439     20317339180     19768122517     34919812653
...                 ...             ...             ...             ...
2130322       368271326       802688144       907957027      1403629961
2130323      1546715995      2667481477      3391084039      4874784916
2130324       464924563      1208601731      1363836822      1903469028
2130325       477824052      1065519059      1358878975      1726031142
2130326      2229950291      3635162699      3465701719      3811029886

                         ...                                                  \
        시간대_21~24_매출_금액  ... 시간대_건수~11_매출_건수 시간대_건수~14_매출_건수 시간대_건수~17_매출_건수
상권_코드                    ...
1001491     18292093996  ...          285058          610322          702249
1001492     28687801772  ...         2662173         5494707         3382050
1001493     20412485932  ...          757424         1779159         1769777
1001494     17608085261  ...          777701         2411263         2013432
1001495     19472575805  ...          565226         1154183         1115855
...                 ...  ...             ...             ...             ...
2130322       359488930  ...           23779           39508           46713
2130323       839164538  ...           49401          113462          152228
2130324       192511777  ...           24169           62634           75555
2130325       136042306  ...           25060           59796           75815
2130326       541348963  ...          136835          189321          204681

                                                                      \
        시간대_건수~21_매출_건수 시간대_건수~24_매출_건수    점포수 주말_매출_건수     주말_매출_금액
상권_코드
1001491         1128223          789533   1561  1967156  47086678652
1001492         2708788          644303   7529  2646506  79821252531
1001493         2317560          725593  11582  2010722  68228002280
1001494         1606240          517508   4852  2134062  61175003235
1001495         1611464          784292   1898  1942939  35757879427
...                 ...             ...    ...      ...          ...
2130322           76853           20999     98    62873   1189584202
2130323          230364           41537    163   191826   4111707031
2130324           93222            7393     99    84663   1719330380
2130325           92857            6364     65    78429   1380847128
2130326          255103           47043     77   210237   3287802663


         주중_매출_건수      주중_매출_금액
상권_코드
1001491   2378314   78042129887
1001492  12389157  334474686570
1001493   5810788  158743023065
1001494   5350309  209174783448
1001495   3577878   73952964277
...           ...           ...
2130322    152757    2768896933
2130323    406254    9316445524
2130324    178757    3423949052
2130325    181515    3385252166
2130326    633875   10482986816

[1649 rows x 21 columns]

In [105]:
gage_money_procesing_pivot.columns = ['/'.join(col) for col in gage_money_procesing_pivot.columns]
gage_money_procesing_pivot

,sum/기준_년_코드,sum/기준_분기_코드,sum/분기당_매출_건수,sum/분기당_매출_금액,sum/시간대_00~06_매출_금액,sum/시간대_06~11_매출_금액,sum/시간대_11~14_매출_금액,sum/시간대_14~17_매출_금액,sum/시간대_17~21_매출_금액,sum/시간대_21~24_매출_금액,...,sum/시간대_건수~11_매출_건수,sum/시간대_건수~14_매출_건수,sum/시간대_건수~17_매출_건수,sum/시간대_건수~21_매출_건수,sum/시간대_건수~24_매출_건수,sum/점포수,sum/주말_매출_건수,sum/주말_매출_금액,sum/주중_매출_건수,sum/주중_매출_금액
상권_코드,,,,,,,,,,,,,,,,,,,,,
1001491,86946,86,4345470,125128808539,12287440264,3754856633,18836780750,33168576628,38789060268,18292093996,...,285058,610322,702249,1128223,789533,1561,1967156,47086678652,2378314,78042129887
1001492,115254,114,15035663,414295939101,3296503823,40631041819,139554611250,108275030042,93850950395,28687801772,...,2662173,5494707,3382050,2708788,644303,7529,2646506,79821252531,12389157,334474686570
1001493,95034,94,7821510,226971025345,6995302469,12889467548,55562002082,64030750408,67081016906,20412485932,...,757424,1779159,1769777,2317560,725593,11582,2010722,68228002280,5810788,158743023065
1001494,113232,112,7484371,270349786683,4112481203,26599087584,79951861628,87677943831,54400327176,17608085261,...,777701,2411263,2013432,1606240,517508,4852,2134062,61175003235,5350309,209174783448
1001495,80880,80,5520817,109710843704,6648370110,8584623439,20317339180,19768122517,34919812653,19472575805,...,565226,1154183,1115855,1611464,784292,1898,1942939,35757879427,3577878,73952964277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130322,50550,50,215630,3958481135,116445747,368271326,802688144,907957027,1403629961,359488930,...,23779,39508,46713,76853,20999,98,62873,1189584202,152757,2768896933
2130323,58638,58,598080,13428152555,108921590,1546715995,2667481477,3391084039,4874784916,839164538,...,49401,113462,152228,230364,41537,163,191826,4111707031,406254,9316445524
2130324,56616,56,263420,5143279432,9935511,464924563,1208601731,1363836822,1903469028,192511777,...,24169,62634,75555,93222,7393,99,84663,1719330380,178757,3423949052
2130325,32352,32,259944,4766099294,1803760,477824052,1065519059,1358878975,1726031142,136042306,...,25060,59796,75815,92857,6364,65,78429,1380847128,181515,3385252166
2130326,48528,48,844112,13770789479,87595921,2229950291,3635162699,3465701719,3811029886,541348963,...,136835,189321,204681,255103,47043,77,210237,3287802663,633875,10482986816

In [106]:
gage_money_procesing_pivot.columns

Index(['sum/기준_년_코드', 'sum/기준_분기_코드', 'sum/분기당_매출_건수', 'sum/분기당_매출_금액',
       'sum/시간대_00~06_매출_금액', 'sum/시간대_06~11_매출_금액', 'sum/시간대_11~14_매출_금액',
       'sum/시간대_14~17_매출_금액', 'sum/시간대_17~21_매출_금액', 'sum/시간대_21~24_매출_금액',
       'sum/시간대_건수~06_매출_건수', 'sum/시간대_건수~11_매출_건수', 'sum/시간대_건수~14_매출_건수',
       'sum/시간대_건수~17_매출_건수', 'sum/시간대_건수~21_매출_건수', 'sum/시간대_건수~24_매출_건수',
       'sum/점포수', 'sum/주말_매출_건수', 'sum/주말_매출_금액', 'sum/주중_매출_건수',
       'sum/주중_매출_금액'],
      dtype='object')

In [107]:
gage_money_procesing_pivot_list = ['기준_년_코드', '기준_분기_코드', '분기당_매출_건수', '분기당_매출_금액',
        '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
        '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액',
        '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
        '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수',
        '점포수', '주말_매출_건수', '주말_매출_금액', '주중_매출_건수',
        '주중_매출_금액']

In [108]:
len(gage_money_procesing_pivot_list)

21

In [109]:
for i in range(len(gage_money_procesing_pivot_list)):
    gage_money_procesing_pivot.rename(columns={gage_money_procesing_pivot.columns[i]: gage_money_procesing_pivot_list[i] }, inplace=True)

In [110]:
gage_money_procesing_pivot['연도_분기'] = "2022_2분기"
gage_money_procesing_pivot

,기준_년_코드,기준_분기_코드,분기당_매출_건수,분기당_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,...,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수,주말_매출_건수,주말_매출_금액,주중_매출_건수,주중_매출_금액,연도_분기
상권_코드,,,,,,,,,,,,,,,,,,,,,
1001491,86946,86,4345470,125128808539,12287440264,3754856633,18836780750,33168576628,38789060268,18292093996,...,610322,702249,1128223,789533,1561,1967156,47086678652,2378314,78042129887,2022_2분기
1001492,115254,114,15035663,414295939101,3296503823,40631041819,139554611250,108275030042,93850950395,28687801772,...,5494707,3382050,2708788,644303,7529,2646506,79821252531,12389157,334474686570,2022_2분기
1001493,95034,94,7821510,226971025345,6995302469,12889467548,55562002082,64030750408,67081016906,20412485932,...,1779159,1769777,2317560,725593,11582,2010722,68228002280,5810788,158743023065,2022_2분기
1001494,113232,112,7484371,270349786683,4112481203,26599087584,79951861628,87677943831,54400327176,17608085261,...,2411263,2013432,1606240,517508,4852,2134062,61175003235,5350309,209174783448,2022_2분기
1001495,80880,80,5520817,109710843704,6648370110,8584623439,20317339180,19768122517,34919812653,19472575805,...,1154183,1115855,1611464,784292,1898,1942939,35757879427,3577878,73952964277,2022_2분기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130322,50550,50,215630,3958481135,116445747,368271326,802688144,907957027,1403629961,359488930,...,39508,46713,76853,20999,98,62873,1189584202,152757,2768896933,2022_2분기
2130323,58638,58,598080,13428152555,108921590,1546715995,2667481477,3391084039,4874784916,839164538,...,113462,152228,230364,41537,163,191826,4111707031,406254,9316445524,2022_2분기
2130324,56616,56,263420,5143279432,9935511,464924563,1208601731,1363836822,1903469028,192511777,...,62634,75555,93222,7393,99,84663,1719330380,178757,3423949052,2022_2분기
2130325,32352,32,259944,4766099294,1803760,477824052,1065519059,1358878975,1726031142,136042306,...,59796,75815,92857,6364,65,78429,1380847128,181515,3385252166,2022_2분기
2130326,48528,48,844112,13770789479,87595921,2229950291,3635162699,3465701719,3811029886,541348963,...,189321,204681,255103,47043,77,210237,3287802663,633875,10482986816,2022_2분기

In [111]:
gage_money_procesing_pivot = gage_money_procesing_pivot.drop(['기준_년_코드', '기준_분기_코드'], axis=1)

gage_money_procesing_pivot

In [116]:
gage_money_procesing_pivot = gage_money_procesing_pivot[['연도_분기', '점포수', '분기당_매출_금액', '분기당_매출_건수',
             '주말_매출_금액', '주말_매출_건수', '주중_매출_금액', '주중_매출_건수',
            '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
            '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액',
            '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
            '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수']]

In [117]:
gage_money_procesing_pivot

,연도_분기,점포수,분기당_매출_금액,분기당_매출_건수,주말_매출_금액,주말_매출_건수,주중_매출_금액,주중_매출_건수,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수
상권_코드,,,,,,,,,,,,,,,,,,,,
1001491,2022_2분기,1561,125128808539,4345470,47086678652,1967156,78042129887,2378314,12287440264,3754856633,18836780750,33168576628,38789060268,18292093996,830085,285058,610322,702249,1128223,789533
1001492,2022_2분기,7529,414295939101,15035663,79821252531,2646506,334474686570,12389157,3296503823,40631041819,139554611250,108275030042,93850950395,28687801772,143642,2662173,5494707,3382050,2708788,644303
1001493,2022_2분기,11582,226971025345,7821510,68228002280,2010722,158743023065,5810788,6995302469,12889467548,55562002082,64030750408,67081016906,20412485932,471997,757424,1779159,1769777,2317560,725593
1001494,2022_2분기,4852,270349786683,7484371,61175003235,2134062,209174783448,5350309,4112481203,26599087584,79951861628,87677943831,54400327176,17608085261,158227,777701,2411263,2013432,1606240,517508
1001495,2022_2분기,1898,109710843704,5520817,35757879427,1942939,73952964277,3577878,6648370110,8584623439,20317339180,19768122517,34919812653,19472575805,289797,565226,1154183,1115855,1611464,784292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130322,2022_2분기,98,3958481135,215630,1189584202,62873,2768896933,152757,116445747,368271326,802688144,907957027,1403629961,359488930,7778,23779,39508,46713,76853,20999
2130323,2022_2분기,163,13428152555,598080,4111707031,191826,9316445524,406254,108921590,1546715995,2667481477,3391084039,4874784916,839164538,11088,49401,113462,152228,230364,41537
2130324,2022_2분기,99,5143279432,263420,1719330380,84663,3423949052,178757,9935511,464924563,1208601731,1363836822,1903469028,192511777,447,24169,62634,75555,93222,7393
2130325,2022_2분기,65,4766099294,259944,1380847128,78429,3385252166,181515,1803760,477824052,1065519059,1358878975,1726031142,136042306,52,25060,59796,75815,92857,6364
2130326,2022_2분기,77,13770789479,844112,3287802663,210237,10482986816,633875,87595921,2229950291,3635162699,3465701719,3811029886,541348963,11129,136835,189321,204681,255103,47043

In [118]:
gage_money_procesing_pivot.to_csv('./2022_상권별_매출_1차가공.csv', encoding='EUC-KR', index=False)

# 위의 과정을 2019년까지 반복하자