In [3]:
import pandas as pd

In [5]:
gage_location = pd.read_csv('./2019_서울시 우리마을가게 상권 위도 경도.csv', encoding='EUC-KR')
gage_location

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [327]:
gage_money = pd.read_csv('./서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.csv', encoding='EUC-KR')
gage_money

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,626851391,25502,...,157,15667,7253,108,1098,2013,4344,7792,7568,28
1,2021,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,122957138,12039,...,0,6679,4293,52,926,1222,2698,3404,2670,9
2,2021,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5093349,177,...,9,124,36,0,0,9,18,62,71,3
3,2021,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,13507733,1359,...,8,356,881,0,243,260,213,288,235,5
4,2021,1,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,37551380,128,...,0,56,72,0,0,8,96,8,16,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140825,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,997157377,14124,...,423,6916,5717,105,3128,4161,2715,1194,1328,5
140826,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,11911789492,6524,...,0,2704,3820,0,23,494,1493,1634,2880,6
140827,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1717076948,8760,...,66,3585,4551,144,1800,1852,1392,926,2021,8
140828,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,12566919,370,...,0,0,370,0,0,0,0,370,0,4
140829,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,10000000,94,...,0,33,61,0,9,54,14,17,0,8

In [10]:
gage_apartment = pd.read_csv('./2022_서울시 우리마을가게 상권분석서비스(상권-아파트).csv', encoding='EUC-KR')
gage_apartment

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,...,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
0,2022,1,A,골목상권,2110002,독립문역 1번,7,20.0,94.0,NaN,...,NaN,4.0,13.0,27.0,21.0,NaN,NaN,49.0,70,295972850
1,2022,1,A,골목상권,2110003,세검정초등학교,70,419.0,232.0,35.0,...,8.0,30.0,313.0,224.0,69.0,28.0,96.0,19.0,79,278062827
2,2022,1,A,골목상권,2110004,대신고등학교,6,17.0,11.0,NaN,...,NaN,11.0,6.0,11.0,NaN,NaN,NaN,NaN,50,129236667
3,2022,1,A,골목상권,2110005,세검정,40,135.0,167.0,69.0,...,59.0,51.0,101.0,159.0,54.0,8.0,11.0,63.0,92,300714862
4,2022,1,A,골목상권,2110006,부암동주민센터,2,NaN,16.0,4.0,...,1.0,NaN,NaN,12.0,8.0,NaN,NaN,1.0,93,318666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,2022,2,R,전통시장,2130326,고덕 골목형상점가,2,657.0,5.0,NaN,...,NaN,NaN,2.0,4.0,NaN,129.0,21.0,506.0,53,633301800
2962,2022,2,U,관광특구,1001491,이태원 관광특구,72,376.0,197.0,52.0,...,61.0,5.0,106.0,102.0,186.0,139.0,89.0,123.0,79,439233880
2963,2022,2,U,관광특구,1001493,동대문패션타운 관광특구,11,627.0,97.0,151.0,...,29.0,NaN,504.0,119.0,80.0,10.0,NaN,295.0,45,259406778
2964,2022,2,U,관광특구,1001494,종로?청계 관광특구,9,370.0,12.0,NaN,...,NaN,54.0,195.0,133.0,NaN,NaN,NaN,NaN,37,141690132
2965,2022,2,U,관광특구,1001495,잠실 관광특구,30,834.0,201.0,237.0,...,192.0,10.0,413.0,297.0,118.0,29.0,70.0,1170.0,74,552320698

In [12]:
gege_open_close = pd.read_csv('./2022_서울시_개점_폐업.csv', encoding='EUC-KR')
gege_open_close

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,7,7,0,0,0,0,0
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300042,주유소,1,1,0,0,0,0,0
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300041,예술품,10,10,0,0,0,0,0
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300038,자동차부품,10,10,0,0,0,0,0
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300036,조명용품,14,14,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,2020,2,A,골목상권,2110787,신길3동주민센터,CS300006,미곡판매,2,2,0,0,0,0,0
639996,2020,2,A,골목상권,2110787,신길3동주민센터,CS300005,주류도매,1,1,0,0,0,0,0
639997,2020,2,A,골목상권,2110787,신길3동주민센터,CS300004,핸드폰,1,1,0,0,0,0,0
639998,2020,2,A,골목상권,2110787,신길3동주민센터,CS300003,컴퓨터및주변장치판매,4,4,0,0,0,0,0
639999,2020,2,A,골목상권,2110787,신길3동주민센터,CS300002,편의점,0,3,0,0,0,0,3

In [7]:
gage_location['상권_코드'].value_counts()

2110753    1
2110402    1
2120095    1
2120146    1
2120057    1
          ..
2110747    1
2110748    1
2110857    1
2110740    1
1001491    1
Name: 상권_코드, Length: 1671, dtype: int64

In [9]:
gage_money['상권_코드'].value_counts()

1001492    114
1001494    112
2120081    105
2120104    103
2120175    102
          ...
2110338      2
2130237      2
2110046      2
2110806      2
2130006      1
Name: 상권_코드, Length: 1650, dtype: int64

In [11]:
gage_apartment['상권_코드'].value_counts()

2110002    2
2111034    2
2111043    2
2111042    2
2111041    2
          ..
2110516    2
2110515    2
2110514    2
2110513    2
1001495    2
Name: 상권_코드, Length: 1483, dtype: int64

In [13]:
gege_open_close['상권_코드'].value_counts()

2120189    872
2120187    846
2120197    839
2120173    837
1001492    834
          ...
2130124     21
2130014     18
2130234     18
2130251      9
2130028      3
Name: 상권_코드, Length: 1666, dtype: int64

# 지도의 위치정보가 다른 파일들보다 더많기 때문에 합병에 문제는 없을 것이다.

## 1.위치정보 부터 수정하자

In [283]:
gage_location

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [284]:
gage_location_processing = gage_location.drop(['기준_년월_코드', '상권_구분_코드',  '시군구_코드',  '행정동_코드', '형태정보' ], axis=1)
gage_location_processing

     상권_구분_코드_명    상권_코드       상권_코드_명  엑스좌표_값  와이좌표_값
0          골목상권  2110753   시흥동 은행나무사거리  191934  438813
1          골목상권  2110427    노원 을지대학교병원  206265  459431
2          골목상권  2110755      동일여자고등학교  192300  439070
3          골목상권  2110739    시흥3동 우편취급국  191289  438014
4          골목상권  2111017      송파나루역 3번  210222  445516
...         ...      ...           ...     ...     ...
1666       관광특구  1001493  동대문패션타운 관광특구  200974  451975
1667       관광특구  1001494    종로?청계 관광특구  199768  452273
1668       관광특구  1001495       잠실 관광특구  210191  446339
1669       관광특구  1001496   강남 마이스 관광특구  205310  445727
1670       관광특구  1001491      이태원 관광특구  199503  448326

[1671 rows x 5 columns]

In [285]:
gage_location_processing.to_csv('./서울시 상업지역 위치정보_가공.csv', encoding='EUC-KR', index=False)

## 2. 추정매출을 수정하자.
- 상권의 데이터는 기준분기를 2분기로 설정하자. (3분기가 없음) 
- 2분기 매출을 3으로 나누면 한달매출이 나올 것이라 생각된다.

In [328]:
gage_money

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,626851391,25502,...,157,15667,7253,108,1098,2013,4344,7792,7568,28
1,2021,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,122957138,12039,...,0,6679,4293,52,926,1222,2698,3404,2670,9
2,2021,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5093349,177,...,9,124,36,0,0,9,18,62,71,3
3,2021,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,13507733,1359,...,8,356,881,0,243,260,213,288,235,5
4,2021,1,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,37551380,128,...,0,56,72,0,0,8,96,8,16,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140825,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,997157377,14124,...,423,6916,5717,105,3128,4161,2715,1194,1328,5
140826,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,11911789492,6524,...,0,2704,3820,0,23,494,1493,1634,2880,6
140827,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1717076948,8760,...,66,3585,4551,144,1800,1852,1392,926,2021,8
140828,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,12566919,370,...,0,0,370,0,0,0,0,370,0,4
140829,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,10000000,94,...,0,33,61,0,9,54,14,17,0,8

In [329]:
gage_money_procesing = gage_money[gage_money['기준_분기_코드'].isin([2])]
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
35431,2021,2,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,741526186,29645,...,518,17207,9146,49,1244,2859,4773,8749,8679,26
35432,2021,2,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,120731570,14370,...,0,8180,5095,53,1029,1451,3576,4475,2694,9
35433,2021,2,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,15501497,407,...,98,290,91,0,19,45,73,146,98,3
35434,2021,2,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,19344559,1610,...,24,444,1025,0,244,363,282,246,335,5
35435,2021,2,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,34499756,104,...,0,40,64,0,0,24,80,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70878,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1026839343,22212,...,585,8998,12018,36,6420,7344,3521,2384,1311,6
70879,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,11019599281,5852,...,0,2419,3433,0,97,544,1274,1655,2282,6
70880,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1829845301,8110,...,90,4012,3729,84,1750,2096,1986,882,943,8
70881,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,86120359,739,...,0,370,0,0,0,0,370,0,0,4
70882,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,5836078,92,...,0,14,74,0,27,42,5,5,9,8

In [330]:
gage_money_procesing = gage_money_procesing.drop(['상권_구분_코드', '서비스_업종_코드', '서비스_업종_코드_명'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['남성_매출_건수', '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수',
                                                 '연령대_30_매출_건수', '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['시간대_00~06_매출_비율', '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율', '연령대_50_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['연령대_60_이상_매출_비율', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', 
                                                 '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액'], axis=1)
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,분기당_매출_금액,분기당_매출_건수,주중_매출_금액,주말_매출_금액,시간대_00~06_매출_금액,...,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수
35431,2021,2,골목상권,2110001,이북5도청사,741526186,29645,444949429,296576757,0,...,3929,5244,4996,0,3480,12489,5351,7807,518,26
35432,2021,2,골목상권,2110001,이북5도청사,120731570,14370,61252061,59479509,1041607,...,1474,3011,2943,96,6156,5248,2072,798,0,9
35433,2021,2,골목상권,2110001,이북5도청사,15501497,407,6891523,8609974,0,...,27,104,114,0,0,9,45,255,98,3
35434,2021,2,골목상권,2110001,이북5도청사,19344559,1610,13191412,6153147,0,...,181,232,273,0,0,591,775,220,24,5
35435,2021,2,골목상권,2110001,이북5도청사,34499756,104,34499756,0,0,...,8,0,0,0,0,8,72,24,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70878,2021,2,관광특구,1001496,강남 마이스 관광특구,1026839343,22212,696059665,330779678,0,...,7816,3679,2278,0,1474,4689,5459,10005,585,6
70879,2021,2,관광특구,1001496,강남 마이스 관광특구,11019599281,5852,6413210755,4606388526,0,...,731,1266,1278,0,396,1798,2530,1128,0,6
70880,2021,2,관광특구,1001496,강남 마이스 관광특구,1829845301,8110,1093827594,736017707,0,...,1123,1801,1058,0,108,1987,2277,3648,90,8
70881,2021,2,관광특구,1001496,강남 마이스 관광특구,86120359,739,86120359,0,0,...,370,0,0,0,0,369,0,370,0,4
70882,2021,2,관광특구,1001496,강남 마이스 관광특구,5836078,92,1810229,4025849,0,...,18,23,36,0,0,15,59,18,0,8

In [331]:
gage_money_procesing.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
       '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
       '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '점포수'],
      dtype='object')

In [332]:
gage_money_procesing = gage_money_procesing.drop(['남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', 
                                                 '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액',
                                                 '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
                                                '일요일_매출_건수', ], axis=1)
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,분기당_매출_금액,분기당_매출_건수,주중_매출_금액,주말_매출_금액,시간대_00~06_매출_금액,...,시간대_21~24_매출_금액,주중_매출_건수,주말_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수
35431,2021,2,골목상권,2110001,이북5도청사,741526186,29645,444949429,296576757,0,...,26610490,19405,10240,0,3480,12489,5351,7807,518,26
35432,2021,2,골목상권,2110001,이북5도청사,120731570,14370,61252061,59479509,1041607,...,0,8416,5954,96,6156,5248,2072,798,0,9
35433,2021,2,골목상권,2110001,이북5도청사,15501497,407,6891523,8609974,0,...,2940856,189,218,0,0,9,45,255,98,3
35434,2021,2,골목상권,2110001,이북5도청사,19344559,1610,13191412,6153147,0,...,2380056,1105,505,0,0,591,775,220,24,5
35435,2021,2,골목상권,2110001,이북5도청사,34499756,104,34499756,0,0,...,0,104,0,0,0,8,72,24,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70878,2021,2,관광특구,1001496,강남 마이스 관광특구,1026839343,22212,696059665,330779678,0,...,19213884,16255,5957,0,1474,4689,5459,10005,585,6
70879,2021,2,관광특구,1001496,강남 마이스 관광특구,11019599281,5852,6413210755,4606388526,0,...,0,3308,2544,0,396,1798,2530,1128,0,6
70880,2021,2,관광특구,1001496,강남 마이스 관광특구,1829845301,8110,1093827594,736017707,0,...,7604088,5251,2859,0,108,1987,2277,3648,90,8
70881,2021,2,관광특구,1001496,강남 마이스 관광특구,86120359,739,86120359,0,0,...,0,739,0,0,0,369,0,370,0,4
70882,2021,2,관광특구,1001496,강남 마이스 관광특구,5836078,92,1810229,4025849,0,...,0,33,59,0,0,15,59,18,0,8

In [333]:
gage_money_procesing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35452 entries, 35431 to 70882
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년_코드          35452 non-null  int64
 1   기준_분기_코드         35452 non-null  int64
 2   상권_구분_코드_명       35452 non-null  object
 3   상권_코드            35452 non-null  int64
 4   상권_코드_명          35452 non-null  object
 5   분기당_매출_금액        35452 non-null  int64
 6   분기당_매출_건수        35452 non-null  int64
 7   주중_매출_금액         35452 non-null  int64
 8   주말_매출_금액         35452 non-null  int64
 9   시간대_00~06_매출_금액  35452 non-null  int64
 10  시간대_06~11_매출_금액  35452 non-null  int64
 11  시간대_11~14_매출_금액  35452 non-null  int64
 12  시간대_14~17_매출_금액  35452 non-null  int64
 13  시간대_17~21_매출_금액  35452 non-null  int64
 14  시간대_21~24_매출_금액  35452 non-null  int64
 15  주중_매출_건수         35452 non-null  int64
 16  주말_매출_건수         35452 non-null  int64
 17  시간대_건수~06_매출_건수  35452 non-null  int64
 18  시간대_건수~11_매출_건수  35452 non-null  int64
 19  시간대_건수~14_매출_건수  35452 non-null  int64
 20  시간대_건수~17_매출_건수  35452 non-null  int64
 21  시간대_건수~21_매출_건수  35452 non-null  int64
 22  시간대_건수~24_매출_건수  35452 non-null  int64
 23  점포수              35452 non-null  int64
dtypes: int64(22), object(2)
memory usage: 6.8+ MB

# 점포수의 경우 모를 경우 *로 표시되어 있다. <- 2022년만 해당함

In [334]:
gage_money_procesing.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '주중_매출_건수', '주말_매출_건수',
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '점포수'],
      dtype='object')

In [335]:
'''
for i in range(len(gage_money_procesing)):
    if gage_money_procesing['점포수'][i] == '*':
        gage_money_procesing['점포수'][i] = 0

gage_money_procesing = gage_money_procesing.astype({'점포수' : int})
'''

"\nfor i in range(len(gage_money_procesing)):\n    if gage_money_procesing['점포수'][i] == '*':\n        gage_money_procesing['점포수'][i] = 0\n\ngage_money_procesing = gage_money_procesing.astype({'점포수' : int})\n"

In [336]:
import numpy as np

In [337]:
gage_money_procesing_pivot = gage_money_procesing.pivot_table(gage_money_procesing, index=["상권_코드"], aggfunc = [np.sum] )
gage_money_procesing_pivot

C:\Users\김두엽\AppData\Local\Temp\ipykernel_31664\992476297.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gage_money_procesing_pivot = gage_money_procesing.pivot_table(gage_money_procesing, index=["상권_코드"], aggfunc = [np.sum] )

            sum                                                   \
        기준_년_코드 기준_분기_코드 분기당_매출_건수     분기당_매출_금액 시간대_00~06_매출_금액
상권_코드
1001491   92966       92   2803435  100935312161      1264802195
1001492  109134      108  12605777  350793010407      1641044250
1001493   86903       86   8926683  230586675917      7937583073
1001494  113176      112   7089702  246922004601      1524141593
1001495   86903       86   5795789  184733871197      1939271447
...         ...      ...       ...           ...             ...
2130322   48504       48    262945    4477358253        86460103
2130323   62651       62    577240   13157228762        56382635
2130324   62651       62    256808    5191013622         9306126
2130325   36378       36    286236    5093920581               0
2130326   44462       44    760615   12414768984        79358041

                                                                         \
        시간대_06~11_매출_금액 시간대_11~14_매출_금액 시간대_14~17_매출_금액 시간대_17~21_매출_금액
상권_코드
1001491      4738696528     18157824027     40620296648     27244147835
1001492     37052959425    120161233356     95978004649     76642926560
1001493     16736773836     48162351347     64730098068     68523427367
1001494     30366358146     74241617903     78614274736     49815931198
1001495      9231718062     40630037934     49133459167     64024992344
...                 ...             ...             ...             ...
2130322       428700155       985024953      1023412561      1604105281
2130323      1314379041      2642669030      3317159085      4942218689
2130324       448022558      1224858113      1445950543      1882006787
2130325       547229302      1152596054      1584303846      1613752680
2130326      1877248037      3318181096      2932604907      3682869086

                         ...                                                  \
        시간대_21~24_매출_금액  ... 시간대_건수~11_매출_건수 시간대_건수~14_매출_건수 시간대_건수~17_매출_건수
상권_코드                    ...
1001491      8909544928  ...          224631          551386          627263
1001492     19316842167  ...         2260340         4695434         2794025
1001493     24496442226  ...          947404         1845912         1964809
1001494     12359681025  ...          807843         2382536         1889159
1001495     19774392243  ...          525304         1249895         1221605
...                 ...  ...             ...             ...             ...
2130322       349655200  ...           29331           47526           57518
2130323       884420282  ...           43610          109051          137010
2130324       180869495  ...           23796           60863           73128
2130325       196038699  ...           31116           65148           85689
2130326       524507817  ...          114874          162974          175517

                                                                      \
        시간대_건수~21_매출_건수 시간대_건수~24_매출_건수    점포수 주말_매출_건수     주말_매출_금액
상권_코드
1001491          896083          391828   1520   988188  27787875218
1001492         2311962          476302   7615  2073723  64865398630
1001493         2586524          982717  11984  2272560  67824125867
1001494         1551930          396913   4929  1761892  50498290822
1001495         1853600          784453   1917  1907937  67777840994
...                 ...             ...    ...      ...          ...
2130322           93357           25771    228    74240   1160290016
2130323          231031           48514    350   185627   4009095107
2130324           91247            7153    215    79030   1523584167
2130325           96907            7376    143    81486   1341975775
2130326          241878           51869    191   193278   2916620006


         주중_매출_건수      주중_매출_금액
상권_코드
1001491   1815247   73147436943
1001492  10532054  285927611777
1001493   6654123  162762550050
1001494   5327810  196423713779
1001495   3887852  116956030203
...           ...           ...
2130322    188705    3317068237
2130323    391613    9148133655
2130324    177778    3667429455
2130325    204750    3751944806
2130326    567337    9498148978

[1650 rows x 21 columns]

In [338]:
gage_money_procesing_pivot.columns = ['/'.join(col) for col in gage_money_procesing_pivot.columns]
gage_money_procesing_pivot

,sum/기준_년_코드,sum/기준_분기_코드,sum/분기당_매출_건수,sum/분기당_매출_금액,sum/시간대_00~06_매출_금액,sum/시간대_06~11_매출_금액,sum/시간대_11~14_매출_금액,sum/시간대_14~17_매출_금액,sum/시간대_17~21_매출_금액,sum/시간대_21~24_매출_금액,...,sum/시간대_건수~11_매출_건수,sum/시간대_건수~14_매출_건수,sum/시간대_건수~17_매출_건수,sum/시간대_건수~21_매출_건수,sum/시간대_건수~24_매출_건수,sum/점포수,sum/주말_매출_건수,sum/주말_매출_금액,sum/주중_매출_건수,sum/주중_매출_금액
상권_코드,,,,,,,,,,,,,,,,,,,,,
1001491,92966,92,2803435,100935312161,1264802195,4738696528,18157824027,40620296648,27244147835,8909544928,...,224631,551386,627263,896083,391828,1520,988188,27787875218,1815247,73147436943
1001492,109134,108,12605777,350793010407,1641044250,37052959425,120161233356,95978004649,76642926560,19316842167,...,2260340,4695434,2794025,2311962,476302,7615,2073723,64865398630,10532054,285927611777
1001493,86903,86,8926683,230586675917,7937583073,16736773836,48162351347,64730098068,68523427367,24496442226,...,947404,1845912,1964809,2586524,982717,11984,2272560,67824125867,6654123,162762550050
1001494,113176,112,7089702,246922004601,1524141593,30366358146,74241617903,78614274736,49815931198,12359681025,...,807843,2382536,1889159,1551930,396913,4929,1761892,50498290822,5327810,196423713779
1001495,86903,86,5795789,184733871197,1939271447,9231718062,40630037934,49133459167,64024992344,19774392243,...,525304,1249895,1221605,1853600,784453,1917,1907937,67777840994,3887852,116956030203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130322,48504,48,262945,4477358253,86460103,428700155,985024953,1023412561,1604105281,349655200,...,29331,47526,57518,93357,25771,228,74240,1160290016,188705,3317068237
2130323,62651,62,577240,13157228762,56382635,1314379041,2642669030,3317159085,4942218689,884420282,...,43610,109051,137010,231031,48514,350,185627,4009095107,391613,9148133655
2130324,62651,62,256808,5191013622,9306126,448022558,1224858113,1445950543,1882006787,180869495,...,23796,60863,73128,91247,7153,215,79030,1523584167,177778,3667429455
2130325,36378,36,286236,5093920581,0,547229302,1152596054,1584303846,1613752680,196038699,...,31116,65148,85689,96907,7376,143,81486,1341975775,204750,3751944806
2130326,44462,44,760615,12414768984,79358041,1877248037,3318181096,2932604907,3682869086,524507817,...,114874,162974,175517,241878,51869,191,193278,2916620006,567337,9498148978

In [339]:
gage_money_procesing_pivot.columns

Index(['sum/기준_년_코드', 'sum/기준_분기_코드', 'sum/분기당_매출_건수', 'sum/분기당_매출_금액',
       'sum/시간대_00~06_매출_금액', 'sum/시간대_06~11_매출_금액', 'sum/시간대_11~14_매출_금액',
       'sum/시간대_14~17_매출_금액', 'sum/시간대_17~21_매출_금액', 'sum/시간대_21~24_매출_금액',
       'sum/시간대_건수~06_매출_건수', 'sum/시간대_건수~11_매출_건수', 'sum/시간대_건수~14_매출_건수',
       'sum/시간대_건수~17_매출_건수', 'sum/시간대_건수~21_매출_건수', 'sum/시간대_건수~24_매출_건수',
       'sum/점포수', 'sum/주말_매출_건수', 'sum/주말_매출_금액', 'sum/주중_매출_건수',
       'sum/주중_매출_금액'],
      dtype='object')

In [340]:
gage_money_procesing_pivot_list = ['기준_년_코드', '기준_분기_코드', '분기당_매출_건수', '분기당_매출_금액',
        '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
        '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액',
        '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
        '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수',
        '점포수', '주말_매출_건수', '주말_매출_금액', '주중_매출_건수',
        '주중_매출_금액']

In [341]:
len(gage_money_procesing_pivot_list)

21

In [342]:
for i in range(len(gage_money_procesing_pivot_list)):
    gage_money_procesing_pivot.rename(columns={gage_money_procesing_pivot.columns[i]: gage_money_procesing_pivot_list[i] }, inplace=True)

In [343]:
gage_money_procesing_pivot['연도_분기'] = "2021_2분기"
gage_money_procesing_pivot

,기준_년_코드,기준_분기_코드,분기당_매출_건수,분기당_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,...,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수,주말_매출_건수,주말_매출_금액,주중_매출_건수,주중_매출_금액,연도_분기
상권_코드,,,,,,,,,,,,,,,,,,,,,
1001491,92966,92,2803435,100935312161,1264802195,4738696528,18157824027,40620296648,27244147835,8909544928,...,551386,627263,896083,391828,1520,988188,27787875218,1815247,73147436943,2021_2분기
1001492,109134,108,12605777,350793010407,1641044250,37052959425,120161233356,95978004649,76642926560,19316842167,...,4695434,2794025,2311962,476302,7615,2073723,64865398630,10532054,285927611777,2021_2분기
1001493,86903,86,8926683,230586675917,7937583073,16736773836,48162351347,64730098068,68523427367,24496442226,...,1845912,1964809,2586524,982717,11984,2272560,67824125867,6654123,162762550050,2021_2분기
1001494,113176,112,7089702,246922004601,1524141593,30366358146,74241617903,78614274736,49815931198,12359681025,...,2382536,1889159,1551930,396913,4929,1761892,50498290822,5327810,196423713779,2021_2분기
1001495,86903,86,5795789,184733871197,1939271447,9231718062,40630037934,49133459167,64024992344,19774392243,...,1249895,1221605,1853600,784453,1917,1907937,67777840994,3887852,116956030203,2021_2분기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130322,48504,48,262945,4477358253,86460103,428700155,985024953,1023412561,1604105281,349655200,...,47526,57518,93357,25771,228,74240,1160290016,188705,3317068237,2021_2분기
2130323,62651,62,577240,13157228762,56382635,1314379041,2642669030,3317159085,4942218689,884420282,...,109051,137010,231031,48514,350,185627,4009095107,391613,9148133655,2021_2분기
2130324,62651,62,256808,5191013622,9306126,448022558,1224858113,1445950543,1882006787,180869495,...,60863,73128,91247,7153,215,79030,1523584167,177778,3667429455,2021_2분기
2130325,36378,36,286236,5093920581,0,547229302,1152596054,1584303846,1613752680,196038699,...,65148,85689,96907,7376,143,81486,1341975775,204750,3751944806,2021_2분기
2130326,44462,44,760615,12414768984,79358041,1877248037,3318181096,2932604907,3682869086,524507817,...,162974,175517,241878,51869,191,193278,2916620006,567337,9498148978,2021_2분기

In [344]:
gage_money_procesing_pivot = gage_money_procesing_pivot.drop(['기준_년_코드', '기준_분기_코드'], axis=1)

gage_money_procesing_pivot

In [345]:
gage_money_procesing_pivot = gage_money_procesing_pivot[['연도_분기', '점포수', '분기당_매출_금액', '분기당_매출_건수',
             '주말_매출_금액', '주말_매출_건수', '주중_매출_금액', '주중_매출_건수',
            '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
            '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액',
            '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
            '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수']]

In [346]:
gage_money_procesing_pivot = gage_money_procesing_pivot.reset_index()
gage_money_procesing_pivot

,상권_코드,연도_분기,점포수,분기당_매출_금액,분기당_매출_건수,주말_매출_금액,주말_매출_건수,주중_매출_금액,주중_매출_건수,시간대_00~06_매출_금액,...,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수
0,1001491,2021_2분기,1520,100935312161,2803435,27787875218,988188,73147436943,1815247,1264802195,...,18157824027,40620296648,27244147835,8909544928,112244,224631,551386,627263,896083,391828
1,1001492,2021_2분기,7615,350793010407,12605777,64865398630,2073723,285927611777,10532054,1641044250,...,120161233356,95978004649,76642926560,19316842167,67714,2260340,4695434,2794025,2311962,476302
2,1001493,2021_2분기,11984,230586675917,8926683,67824125867,2272560,162762550050,6654123,7937583073,...,48162351347,64730098068,68523427367,24496442226,599317,947404,1845912,1964809,2586524,982717
3,1001494,2021_2분기,4929,246922004601,7089702,50498290822,1761892,196423713779,5327810,1524141593,...,74241617903,78614274736,49815931198,12359681025,61321,807843,2382536,1889159,1551930,396913
4,1001495,2021_2분기,1917,184733871197,5795789,67777840994,1907937,116956030203,3887852,1939271447,...,40630037934,49133459167,64024992344,19774392243,160932,525304,1249895,1221605,1853600,784453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,2130322,2021_2분기,228,4477358253,262945,1160290016,74240,3317068237,188705,86460103,...,985024953,1023412561,1604105281,349655200,9442,29331,47526,57518,93357,25771
1646,2130323,2021_2분기,350,13157228762,577240,4009095107,185627,9148133655,391613,56382635,...,2642669030,3317159085,4942218689,884420282,8024,43610,109051,137010,231031,48514
1647,2130324,2021_2분기,215,5191013622,256808,1523584167,79030,3667429455,177778,9306126,...,1224858113,1445950543,1882006787,180869495,621,23796,60863,73128,91247,7153
1648,2130325,2021_2분기,143,5093920581,286236,1341975775,81486,3751944806,204750,0,...,1152596054,1584303846,1613752680,196038699,0,31116,65148,85689,96907,7376
1649,2130326,2021_2분기,191,12414768984,760615,2916620006,193278,9498148978,567337,79358041,...,3318181096,2932604907,3682869086,524507817,13503,114874,162974,175517,241878,51869

In [347]:
gage_money_procesing_pivot.to_csv('./2021_상권별_매출_1차가공.csv', encoding='EUC-KR', index=False)

# 위의 과정을 2019년까지 반복하자