In [3]:
import pandas as pd

In [5]:
gage_location = pd.read_csv('./2022_서울시 우리마을가게 상권 위도 경도.csv', encoding='EUC-KR')
gage_location

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [261]:
gage_money = pd.read_csv('./서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2019년.csv', encoding='EUC-KR')
gage_money

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2019,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,650014084,22184,...,382,13204,6513,35,864,1963,4440,6123,6287,25
1,2019,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,149671019,9936,...,45,4814,4151,34,1081,959,2627,2517,1748,12
2,2019,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,18579744,348,...,177,166,110,0,18,50,62,63,84,6
3,2019,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,5380734,156,...,60,78,24,0,6,6,0,48,42,3
4,2019,1,A,골목상권,2110001,이북5도청사,CS200016,당구장,6699067,414,...,141,375,22,52,40,0,120,127,57,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147967,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,702775358,12583,...,343,7078,4510,115,3126,3837,2602,1107,798,6
147968,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,9035390798,5146,...,0,2185,2749,0,105,387,1234,1445,1762,5
147969,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,2418241704,11633,...,336,4998,5696,138,2886,3045,2122,1094,1403,8
147970,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,57290367,739,...,0,369,370,0,0,369,370,0,0,4
147971,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,16243089,458,...,0,117,341,5,71,195,156,26,5,7

In [10]:
gage_apartment = pd.read_csv('./2022_서울시 우리마을가게 상권분석서비스(상권-아파트).csv', encoding='EUC-KR')
gage_apartment

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,...,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
0,2022,1,A,골목상권,2110002,독립문역 1번,7,20.0,94.0,NaN,...,NaN,4.0,13.0,27.0,21.0,NaN,NaN,49.0,70,295972850
1,2022,1,A,골목상권,2110003,세검정초등학교,70,419.0,232.0,35.0,...,8.0,30.0,313.0,224.0,69.0,28.0,96.0,19.0,79,278062827
2,2022,1,A,골목상권,2110004,대신고등학교,6,17.0,11.0,NaN,...,NaN,11.0,6.0,11.0,NaN,NaN,NaN,NaN,50,129236667
3,2022,1,A,골목상권,2110005,세검정,40,135.0,167.0,69.0,...,59.0,51.0,101.0,159.0,54.0,8.0,11.0,63.0,92,300714862
4,2022,1,A,골목상권,2110006,부암동주민센터,2,NaN,16.0,4.0,...,1.0,NaN,NaN,12.0,8.0,NaN,NaN,1.0,93,318666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,2022,2,R,전통시장,2130326,고덕 골목형상점가,2,657.0,5.0,NaN,...,NaN,NaN,2.0,4.0,NaN,129.0,21.0,506.0,53,633301800
2962,2022,2,U,관광특구,1001491,이태원 관광특구,72,376.0,197.0,52.0,...,61.0,5.0,106.0,102.0,186.0,139.0,89.0,123.0,79,439233880
2963,2022,2,U,관광특구,1001493,동대문패션타운 관광특구,11,627.0,97.0,151.0,...,29.0,NaN,504.0,119.0,80.0,10.0,NaN,295.0,45,259406778
2964,2022,2,U,관광특구,1001494,종로?청계 관광특구,9,370.0,12.0,NaN,...,NaN,54.0,195.0,133.0,NaN,NaN,NaN,NaN,37,141690132
2965,2022,2,U,관광특구,1001495,잠실 관광특구,30,834.0,201.0,237.0,...,192.0,10.0,413.0,297.0,118.0,29.0,70.0,1170.0,74,552320698

In [12]:
gege_open_close = pd.read_csv('./2022_서울시_개점_폐업.csv', encoding='EUC-KR')
gege_open_close

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,7,7,0,0,0,0,0
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300042,주유소,1,1,0,0,0,0,0
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300041,예술품,10,10,0,0,0,0,0
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300038,자동차부품,10,10,0,0,0,0,0
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300036,조명용품,14,14,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,2020,2,A,골목상권,2110787,신길3동주민센터,CS300006,미곡판매,2,2,0,0,0,0,0
639996,2020,2,A,골목상권,2110787,신길3동주민센터,CS300005,주류도매,1,1,0,0,0,0,0
639997,2020,2,A,골목상권,2110787,신길3동주민센터,CS300004,핸드폰,1,1,0,0,0,0,0
639998,2020,2,A,골목상권,2110787,신길3동주민센터,CS300003,컴퓨터및주변장치판매,4,4,0,0,0,0,0
639999,2020,2,A,골목상권,2110787,신길3동주민센터,CS300002,편의점,0,3,0,0,0,0,3

In [7]:
gage_location['상권_코드'].value_counts()

2110753    1
2110402    1
2120095    1
2120146    1
2120057    1
          ..
2110747    1
2110748    1
2110857    1
2110740    1
1001491    1
Name: 상권_코드, Length: 1671, dtype: int64

In [9]:
gage_money['상권_코드'].value_counts()

1001492    114
1001494    112
2120081    105
2120104    103
2120175    102
          ...
2110338      2
2130237      2
2110046      2
2110806      2
2130006      1
Name: 상권_코드, Length: 1650, dtype: int64

In [11]:
gage_apartment['상권_코드'].value_counts()

2110002    2
2111034    2
2111043    2
2111042    2
2111041    2
          ..
2110516    2
2110515    2
2110514    2
2110513    2
1001495    2
Name: 상권_코드, Length: 1483, dtype: int64

In [13]:
gege_open_close['상권_코드'].value_counts()

2120189    872
2120187    846
2120197    839
2120173    837
1001492    834
          ...
2130124     21
2130014     18
2130234     18
2130251      9
2130028      3
Name: 상권_코드, Length: 1666, dtype: int64

# 지도의 위치정보가 다른 파일들보다 더많기 때문에 합병에 문제는 없을 것이다.

## 1.위치정보 부터 수정하자

In [14]:
gage_location

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [15]:
gage_location_processing = gage_location.drop(['기준_년월_코드', '상권_구분_코드',  '시군구_코드',  '행정동_코드', '형태정보' ], axis=1)
gage_location_processing

     상권_구분_코드_명    상권_코드       상권_코드_명  엑스좌표_값  와이좌표_값
0          골목상권  2110753   시흥동 은행나무사거리  191934  438813
1          골목상권  2110427    노원 을지대학교병원  206265  459431
2          골목상권  2110755      동일여자고등학교  192300  439070
3          골목상권  2110739    시흥3동 우편취급국  191289  438014
4          골목상권  2111017      송파나루역 3번  210222  445516
...         ...      ...           ...     ...     ...
1666       관광특구  1001493  동대문패션타운 관광특구  200974  451975
1667       관광특구  1001494    종로?청계 관광특구  199768  452273
1668       관광특구  1001495       잠실 관광특구  210191  446339
1669       관광특구  1001496   강남 마이스 관광특구  205310  445727
1670       관광특구  1001491      이태원 관광특구  199503  448326

[1671 rows x 5 columns]

In [16]:
gage_location_processing.to_csv('./서울시 상업지역 위치정보_가공.csv', encoding='EUC-KR', index=False)

## 2. 추정매출을 수정하자.
- 상권의 데이터는 기준분기를 2분기로 설정하자. (3분기가 없음) 
- 2분기 매출을 3으로 나누면 한달매출이 나올 것이라 생각된다.

In [262]:
gage_money

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2019,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,650014084,22184,...,382,13204,6513,35,864,1963,4440,6123,6287,25
1,2019,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,149671019,9936,...,45,4814,4151,34,1081,959,2627,2517,1748,12
2,2019,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,18579744,348,...,177,166,110,0,18,50,62,63,84,6
3,2019,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,5380734,156,...,60,78,24,0,6,6,0,48,42,3
4,2019,1,A,골목상권,2110001,이북5도청사,CS200016,당구장,6699067,414,...,141,375,22,52,40,0,120,127,57,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147967,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,702775358,12583,...,343,7078,4510,115,3126,3837,2602,1107,798,6
147968,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,9035390798,5146,...,0,2185,2749,0,105,387,1234,1445,1762,5
147969,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,2418241704,11633,...,336,4998,5696,138,2886,3045,2122,1094,1403,8
147970,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,57290367,739,...,0,369,370,0,0,369,370,0,0,4
147971,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,16243089,458,...,0,117,341,5,71,195,156,26,5,7

In [263]:
gage_money_procesing = gage_money[gage_money['기준_분기_코드'].isin([2])]
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
37431,2019,2,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,725024198,23389,...,592,13879,6867,29,1064,2062,4658,6534,6403,25
37432,2019,2,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,146201206,11103,...,57,5760,4471,102,1362,1530,3230,2722,1285,12
37433,2019,2,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,16209889,388,...,235,189,107,9,9,36,45,153,46,6
37434,2019,2,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,4901710,90,...,42,48,18,0,0,12,0,30,24,3
37435,2019,2,A,골목상권,2110001,이북5도청사,CS200016,당구장,7363358,476,...,217,328,24,23,53,23,103,116,34,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,2019,2,U,관광특구,1001496,강남 마이스 관광특구,CS300027,섬유제품,2130125149,62318,...,4926,10911,51407,2258,30634,11715,8385,7121,2205,7
74022,2019,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1356873015,33215,...,1636,14364,16873,256,10677,12052,4323,2612,1314,6
74023,2019,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,2301647043,11720,...,288,4776,6524,180,2866,2432,2297,2213,1309,8
74024,2019,2,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,2000367097,48419,...,1478,11553,36497,0,5200,20888,16005,2604,3353,4
74025,2019,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,20931734,13998,...,1480,8977,5016,526,4829,3886,2749,1507,496,7

In [264]:
gage_money_procesing = gage_money_procesing.drop(['상권_구분_코드', '서비스_업종_코드', '서비스_업종_코드_명'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['남성_매출_건수', '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수',
                                                 '연령대_30_매출_건수', '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['시간대_00~06_매출_비율', '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율', '연령대_50_매출_비율'], axis=1)
gage_money_procesing = gage_money_procesing.drop(['연령대_60_이상_매출_비율', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', 
                                                 '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액'], axis=1)
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,분기당_매출_금액,분기당_매출_건수,주중_매출_금액,주말_매출_금액,시간대_00~06_매출_금액,...,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수
37431,2019,2,골목상권,2110001,이북5도청사,725024198,23389,407770692,317253506,116016,...,2957,4459,4721,6,2900,9162,4164,6565,592,25
37432,2019,2,골목상권,2110001,이북5도청사,146201206,11103,101917247,44283959,334182,...,1259,1860,1710,34,2152,4306,1604,2950,57,12
37433,2019,2,골목상권,2110001,이북5도청사,16209889,388,10486042,5723847,2740274,...,23,61,56,37,0,0,16,100,235,6
37434,2019,2,골목상권,2110001,이북5도청사,4901710,90,3964752,936958,0,...,12,6,24,0,0,0,18,30,42,3
37435,2019,2,골목상권,2110001,이북5도청사,7363358,476,4668755,2694603,1730219,...,79,85,86,101,0,0,45,113,217,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,2019,2,관광특구,1001496,강남 마이스 관광특구,2130125149,62318,1281196916,848928233,0,...,10039,12528,10922,0,776,8941,17962,29713,4926,7
74022,2019,2,관광특구,1001496,강남 마이스 관광특구,1356873015,33215,1089464712,267408303,0,...,4123,2980,2665,0,1901,6964,6788,15926,1636,6
74023,2019,2,관광특구,1001496,강남 마이스 관광특구,2301647043,11720,1722002410,579644633,0,...,1313,1782,1688,0,641,3835,3747,3209,288,8
74024,2019,2,관광특구,1001496,강남 마이스 관광특구,2000367097,48419,1285669765,714697332,0,...,9610,7763,7761,0,1479,15525,13305,16632,1478,4
74025,2019,2,관광특구,1001496,강남 마이스 관광특구,20931734,13998,13222929,7708805,535121,...,2162,2354,1802,468,3075,2688,3272,3015,1480,7

In [265]:
gage_money_procesing.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
       '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
       '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '점포수'],
      dtype='object')

In [266]:
gage_money_procesing = gage_money_procesing.drop(['남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', 
                                                 '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액',
                                                 '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
                                                '일요일_매출_건수', ], axis=1)
gage_money_procesing

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,분기당_매출_금액,분기당_매출_건수,주중_매출_금액,주말_매출_금액,시간대_00~06_매출_금액,...,시간대_21~24_매출_금액,주중_매출_건수,주말_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수
37431,2019,2,골목상권,2110001,이북5도청사,725024198,23389,407770692,317253506,116016,...,27836133,14209,9180,6,2900,9162,4164,6565,592,25
37432,2019,2,골목상권,2110001,이북5도청사,146201206,11103,101917247,44283959,334182,...,605249,7533,3570,34,2152,4306,1604,2950,57,12
37433,2019,2,골목상권,2110001,이북5도청사,16209889,388,10486042,5723847,2740274,...,9378840,271,117,37,0,0,16,100,235,6
37434,2019,2,골목상권,2110001,이북5도청사,4901710,90,3964752,936958,0,...,3133238,60,30,0,0,0,18,30,42,3
37435,2019,2,골목상권,2110001,이북5도청사,7363358,476,4668755,2694603,1730219,...,3278906,305,171,101,0,0,45,113,217,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,2019,2,관광특구,1001496,강남 마이스 관광특구,2130125149,62318,1281196916,848928233,0,...,180429496,38868,23450,0,776,8941,17962,29713,4926,7
74022,2019,2,관광특구,1001496,강남 마이스 관광특구,1356873015,33215,1089464712,267408303,0,...,49861788,27570,5645,0,1901,6964,6788,15926,1636,6
74023,2019,2,관광특구,1001496,강남 마이스 관광특구,2301647043,11720,1722002410,579644633,0,...,27492844,8250,3470,0,641,3835,3747,3209,288,8
74024,2019,2,관광특구,1001496,강남 마이스 관광특구,2000367097,48419,1285669765,714697332,0,...,35261297,32895,15524,0,1479,15525,13305,16632,1478,4
74025,2019,2,관광특구,1001496,강남 마이스 관광특구,20931734,13998,13222929,7708805,535121,...,1834902,9842,4156,468,3075,2688,3272,3015,1480,7

In [267]:
gage_money_procesing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36595 entries, 37431 to 74025
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년_코드          36595 non-null  int64
 1   기준_분기_코드         36595 non-null  int64
 2   상권_구분_코드_명       36595 non-null  object
 3   상권_코드            36595 non-null  int64
 4   상권_코드_명          36595 non-null  object
 5   분기당_매출_금액        36595 non-null  int64
 6   분기당_매출_건수        36595 non-null  int64
 7   주중_매출_금액         36595 non-null  int64
 8   주말_매출_금액         36595 non-null  int64
 9   시간대_00~06_매출_금액  36595 non-null  int64
 10  시간대_06~11_매출_금액  36595 non-null  int64
 11  시간대_11~14_매출_금액  36595 non-null  int64
 12  시간대_14~17_매출_금액  36595 non-null  int64
 13  시간대_17~21_매출_금액  36595 non-null  int64
 14  시간대_21~24_매출_금액  36595 non-null  int64
 15  주중_매출_건수         36595 non-null  int64
 16  주말_매출_건수         36595 non-null  int64
 17  시간대_건수~06_매출_건수  36595 non-null  int64
 18  시간대_건수~11_매출_건수  36595 non-null  int64
 19  시간대_건수~14_매출_건수  36595 non-null  int64
 20  시간대_건수~17_매출_건수  36595 non-null  int64
 21  시간대_건수~21_매출_건수  36595 non-null  int64
 22  시간대_건수~24_매출_건수  36595 non-null  int64
 23  점포수              36595 non-null  int64
dtypes: int64(22), object(2)
memory usage: 7.0+ MB

# 점포수의 경우 모를 경우 *로 표시되어 있다. <- 2022년만 해당함

In [268]:
gage_money_procesing.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '주중_매출_건수', '주말_매출_건수',
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '점포수'],
      dtype='object')

In [269]:
'''
for i in range(len(gage_money_procesing)):
    if gage_money_procesing['점포수'][i] == '*':
        gage_money_procesing['점포수'][i] = 0

gage_money_procesing = gage_money_procesing.astype({'점포수' : int})
'''

"\nfor i in range(len(gage_money_procesing)):\n    if gage_money_procesing['점포수'][i] == '*':\n        gage_money_procesing['점포수'][i] = 0\n\ngage_money_procesing = gage_money_procesing.astype({'점포수' : int})\n"

In [270]:
import numpy as np

In [271]:
gage_money_procesing_pivot = gage_money_procesing.pivot_table(gage_money_procesing, index=["상권_코드"], aggfunc = [np.sum] )
gage_money_procesing_pivot

C:\Users\김두엽\AppData\Local\Temp\ipykernel_31664\992476297.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gage_money_procesing_pivot = gage_money_procesing.pivot_table(gage_money_procesing, index=["상권_코드"], aggfunc = [np.sum] )

            sum                                                   \
        기준_년_코드 기준_분기_코드 분기당_매출_건수     분기당_매출_금액 시간대_00~06_매출_금액
상권_코드
1001491   92874       92   4441275  102083170176     17650544715
1001492  111045      110  16655824  392306973005      3525648833
1001493   94893       94   6077340  204760984791     23274343998
1001494  113064      112   6280385  172469071750      4599861885
1001495   90855       90   7978513  152732007138      7777702296
...         ...      ...       ...           ...             ...
2130322   52494       52    312544    4915668137       133182110
2130323   60570       60    422786    9494074543       328576306
2130324   60570       60    199121    4607059662          594188
2130325   36342       36    223786    3793840824        23010819
2130326   44418       44    269300    4114167938         5362147

                                                                         \
        시간대_06~11_매출_금액 시간대_11~14_매출_금액 시간대_14~17_매출_금액 시간대_17~21_매출_금액
상권_코드
1001491      4096459649     15407127747     18169120880     29454327815
1001492     26516078806    119303974511     99865466295    111627695682
1001493      9756859148     33539547441     46438403031     56841306732
1001494     11261384106     44691980132     45517952331     47913479733
1001495      8482356312     28970419345     34066557263     53190803643
...                 ...             ...             ...             ...
2130322       568972375       863411854      1126898941      1764302173
2130323       789106178      1706128412      2231824189      3389838856
2130324       288467045      1011789786      1190505660      1854181708
2130325       533725093       785784491       957672877      1296731299
2130326       678965835      1097670681      1044476586      1153759043

                         ...                                                  \
        시간대_21~24_매출_금액  ... 시간대_건수~11_매출_건수 시간대_건수~14_매출_건수 시간대_건수~17_매출_건수
상권_코드                    ...
1001491     17305589370  ...          277152          598188          669709
1001492     31468108878  ...         2385613         5451618         3706300
1001493     34910524441  ...          574678         1117839         1229527
1001494     18484413563  ...          708437         1752419         1314164
1001495     20244168279  ...          752341         1669688         1743960
...                 ...  ...             ...             ...             ...
2130322       458900684  ...           31182           49248           63320
2130323      1048600602  ...           32752           75634           98389
2130324       261521275  ...           17110           44049           51593
2130325       196916245  ...           25102           45467           56783
2130326       133933646  ...           51411           67212           64115

                                                                      \
        시간대_건수~21_매출_건수 시간대_건수~24_매출_건수    점포수 주말_매출_건수     주말_매출_금액
상권_코드
1001491         1140530          784530   1599  2004774  44766913881
1001492         3891596         1040609   7846  3388811  84341907910
1001493         1674341          885618  12994  1861725  72902937985
1001494         1629558          650026   5313  1518417  41093828642
1001495         2461305          986656   1952  2914005  55835671807
...                 ...             ...    ...      ...          ...
2130322          121773           37562    207    90002   1340541486
2130323          157803           44033    330   126755   2875077028
2130324           78492            7775    192    56381   1342266070
2130325           83982           11884    157    67660   1122917537
2130326           76677            9475    108    58062    891822491


         주중_매출_건수      주중_매출_금액
상권_코드
1001491   2436501   57316256295
1001492  13267013  307965065095
1001493   4215615  131858046806
1001494   4761968  131375243108
1001495   5064508   96896335331
...           ...           ...
2130322    222542    3575126651
2130323    296031    6618997515
2130324    142740    3264793592
2130325    156126    2670923287
2130326    211238    3222345447

[1647 rows x 21 columns]

In [272]:
gage_money_procesing_pivot.columns = ['/'.join(col) for col in gage_money_procesing_pivot.columns]
gage_money_procesing_pivot

,sum/기준_년_코드,sum/기준_분기_코드,sum/분기당_매출_건수,sum/분기당_매출_금액,sum/시간대_00~06_매출_금액,sum/시간대_06~11_매출_금액,sum/시간대_11~14_매출_금액,sum/시간대_14~17_매출_금액,sum/시간대_17~21_매출_금액,sum/시간대_21~24_매출_금액,...,sum/시간대_건수~11_매출_건수,sum/시간대_건수~14_매출_건수,sum/시간대_건수~17_매출_건수,sum/시간대_건수~21_매출_건수,sum/시간대_건수~24_매출_건수,sum/점포수,sum/주말_매출_건수,sum/주말_매출_금액,sum/주중_매출_건수,sum/주중_매출_금액
상권_코드,,,,,,,,,,,,,,,,,,,,,
1001491,92874,92,4441275,102083170176,17650544715,4096459649,15407127747,18169120880,29454327815,17305589370,...,277152,598188,669709,1140530,784530,1599,2004774,44766913881,2436501,57316256295
1001492,111045,110,16655824,392306973005,3525648833,26516078806,119303974511,99865466295,111627695682,31468108878,...,2385613,5451618,3706300,3891596,1040609,7846,3388811,84341907910,13267013,307965065095
1001493,94893,94,6077340,204760984791,23274343998,9756859148,33539547441,46438403031,56841306732,34910524441,...,574678,1117839,1229527,1674341,885618,12994,1861725,72902937985,4215615,131858046806
1001494,113064,112,6280385,172469071750,4599861885,11261384106,44691980132,45517952331,47913479733,18484413563,...,708437,1752419,1314164,1629558,650026,5313,1518417,41093828642,4761968,131375243108
1001495,90855,90,7978513,152732007138,7777702296,8482356312,28970419345,34066557263,53190803643,20244168279,...,752341,1669688,1743960,2461305,986656,1952,2914005,55835671807,5064508,96896335331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130322,52494,52,312544,4915668137,133182110,568972375,863411854,1126898941,1764302173,458900684,...,31182,49248,63320,121773,37562,207,90002,1340541486,222542,3575126651
2130323,60570,60,422786,9494074543,328576306,789106178,1706128412,2231824189,3389838856,1048600602,...,32752,75634,98389,157803,44033,330,126755,2875077028,296031,6618997515
2130324,60570,60,199121,4607059662,594188,288467045,1011789786,1190505660,1854181708,261521275,...,17110,44049,51593,78492,7775,192,56381,1342266070,142740,3264793592
2130325,36342,36,223786,3793840824,23010819,533725093,785784491,957672877,1296731299,196916245,...,25102,45467,56783,83982,11884,157,67660,1122917537,156126,2670923287
2130326,44418,44,269300,4114167938,5362147,678965835,1097670681,1044476586,1153759043,133933646,...,51411,67212,64115,76677,9475,108,58062,891822491,211238,3222345447

In [273]:
gage_money_procesing_pivot.columns

Index(['sum/기준_년_코드', 'sum/기준_분기_코드', 'sum/분기당_매출_건수', 'sum/분기당_매출_금액',
       'sum/시간대_00~06_매출_금액', 'sum/시간대_06~11_매출_금액', 'sum/시간대_11~14_매출_금액',
       'sum/시간대_14~17_매출_금액', 'sum/시간대_17~21_매출_금액', 'sum/시간대_21~24_매출_금액',
       'sum/시간대_건수~06_매출_건수', 'sum/시간대_건수~11_매출_건수', 'sum/시간대_건수~14_매출_건수',
       'sum/시간대_건수~17_매출_건수', 'sum/시간대_건수~21_매출_건수', 'sum/시간대_건수~24_매출_건수',
       'sum/점포수', 'sum/주말_매출_건수', 'sum/주말_매출_금액', 'sum/주중_매출_건수',
       'sum/주중_매출_금액'],
      dtype='object')

In [274]:
gage_money_procesing_pivot_list = ['기준_년_코드', '기준_분기_코드', '분기당_매출_건수', '분기당_매출_금액',
        '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
        '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액',
        '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
        '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수',
        '점포수', '주말_매출_건수', '주말_매출_금액', '주중_매출_건수',
        '주중_매출_금액']

In [275]:
len(gage_money_procesing_pivot_list)

21

In [276]:
for i in range(len(gage_money_procesing_pivot_list)):
    gage_money_procesing_pivot.rename(columns={gage_money_procesing_pivot.columns[i]: gage_money_procesing_pivot_list[i] }, inplace=True)

In [277]:
gage_money_procesing_pivot['연도_분기'] = "2022_2분기"
gage_money_procesing_pivot

,기준_년_코드,기준_분기_코드,분기당_매출_건수,분기당_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,...,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,점포수,주말_매출_건수,주말_매출_금액,주중_매출_건수,주중_매출_금액,연도_분기
상권_코드,,,,,,,,,,,,,,,,,,,,,
1001491,92874,92,4441275,102083170176,17650544715,4096459649,15407127747,18169120880,29454327815,17305589370,...,598188,669709,1140530,784530,1599,2004774,44766913881,2436501,57316256295,2022_2분기
1001492,111045,110,16655824,392306973005,3525648833,26516078806,119303974511,99865466295,111627695682,31468108878,...,5451618,3706300,3891596,1040609,7846,3388811,84341907910,13267013,307965065095,2022_2분기
1001493,94893,94,6077340,204760984791,23274343998,9756859148,33539547441,46438403031,56841306732,34910524441,...,1117839,1229527,1674341,885618,12994,1861725,72902937985,4215615,131858046806,2022_2분기
1001494,113064,112,6280385,172469071750,4599861885,11261384106,44691980132,45517952331,47913479733,18484413563,...,1752419,1314164,1629558,650026,5313,1518417,41093828642,4761968,131375243108,2022_2분기
1001495,90855,90,7978513,152732007138,7777702296,8482356312,28970419345,34066557263,53190803643,20244168279,...,1669688,1743960,2461305,986656,1952,2914005,55835671807,5064508,96896335331,2022_2분기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130322,52494,52,312544,4915668137,133182110,568972375,863411854,1126898941,1764302173,458900684,...,49248,63320,121773,37562,207,90002,1340541486,222542,3575126651,2022_2분기
2130323,60570,60,422786,9494074543,328576306,789106178,1706128412,2231824189,3389838856,1048600602,...,75634,98389,157803,44033,330,126755,2875077028,296031,6618997515,2022_2분기
2130324,60570,60,199121,4607059662,594188,288467045,1011789786,1190505660,1854181708,261521275,...,44049,51593,78492,7775,192,56381,1342266070,142740,3264793592,2022_2분기
2130325,36342,36,223786,3793840824,23010819,533725093,785784491,957672877,1296731299,196916245,...,45467,56783,83982,11884,157,67660,1122917537,156126,2670923287,2022_2분기
2130326,44418,44,269300,4114167938,5362147,678965835,1097670681,1044476586,1153759043,133933646,...,67212,64115,76677,9475,108,58062,891822491,211238,3222345447,2022_2분기

In [278]:
gage_money_procesing_pivot = gage_money_procesing_pivot.drop(['기준_년_코드', '기준_분기_코드'], axis=1)

gage_money_procesing_pivot

In [279]:
gage_money_procesing_pivot = gage_money_procesing_pivot[['연도_분기', '점포수', '분기당_매출_금액', '분기당_매출_건수',
             '주말_매출_금액', '주말_매출_건수', '주중_매출_금액', '주중_매출_건수',
            '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
            '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액',
            '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
            '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수']]

In [280]:
gage_money_procesing_pivot = gage_money_procesing_pivot.reset_index()
gage_money_procesing_pivot

,상권_코드,연도_분기,점포수,분기당_매출_금액,분기당_매출_건수,주말_매출_금액,주말_매출_건수,주중_매출_금액,주중_매출_건수,시간대_00~06_매출_금액,...,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수
0,1001491,2022_2분기,1599,102083170176,4441275,44766913881,2004774,57316256295,2436501,17650544715,...,15407127747,18169120880,29454327815,17305589370,971166,277152,598188,669709,1140530,784530
1,1001492,2022_2분기,7846,392306973005,16655824,84341907910,3388811,307965065095,13267013,3525648833,...,119303974511,99865466295,111627695682,31468108878,180088,2385613,5451618,3706300,3891596,1040609
2,1001493,2022_2분기,12994,204760984791,6077340,72902937985,1861725,131858046806,4215615,23274343998,...,33539547441,46438403031,56841306732,34910524441,595337,574678,1117839,1229527,1674341,885618
3,1001494,2022_2분기,5313,172469071750,6280385,41093828642,1518417,131375243108,4761968,4599861885,...,44691980132,45517952331,47913479733,18484413563,225781,708437,1752419,1314164,1629558,650026
4,1001495,2022_2분기,1952,152732007138,7978513,55835671807,2914005,96896335331,5064508,7777702296,...,28970419345,34066557263,53190803643,20244168279,364563,752341,1669688,1743960,2461305,986656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,2130322,2022_2분기,207,4915668137,312544,1340541486,90002,3575126651,222542,133182110,...,863411854,1126898941,1764302173,458900684,9459,31182,49248,63320,121773,37562
1643,2130323,2022_2분기,330,9494074543,422786,2875077028,126755,6618997515,296031,328576306,...,1706128412,2231824189,3389838856,1048600602,14175,32752,75634,98389,157803,44033
1644,2130324,2022_2분기,192,4607059662,199121,1342266070,56381,3264793592,142740,594188,...,1011789786,1190505660,1854181708,261521275,102,17110,44049,51593,78492,7775
1645,2130325,2022_2분기,157,3793840824,223786,1122917537,67660,2670923287,156126,23010819,...,785784491,957672877,1296731299,196916245,568,25102,45467,56783,83982,11884
1646,2130326,2022_2분기,108,4114167938,269300,891822491,58062,3222345447,211238,5362147,...,1097670681,1044476586,1153759043,133933646,410,51411,67212,64115,76677,9475

In [281]:
gage_money_procesing_pivot.to_csv('./2019_상권별_매출_1차가공.csv', encoding='EUC-KR', index=False)

# 위의 과정을 2019년까지 반복하자