In [70]:
import pandas as pd

# 원본파일을 가공하는 과정입니다. 
## 데이터 출처
- https://data.seoul.go.kr/dataList/OA-12913/S/1/datasetView.do
- 2019년에서 2022년까지의 데이터를 다운받아왔으며 코드상에서는 2019년의 데이터를 가공하는 모습을 보입니다.

In [71]:
seoul_bus_stop_commute = pd.read_csv('./2019_bus_stop_원본.csv', encoding = 'EUC-KR')
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,201901,11110364,N13,N13번(송파공영차고지~상계동차고지),110000184,11284,석계역2번출구,0,0,0,...,0,0,0,0,0,0,0,0,0,20190203
1,201901,11110001,100,100번(하계동~용산구청),110000327,11428,한성여객종점,0,4,0,...,54,57,45,9,5,6,2,0,2,20190203
2,201901,11110001,100,100번(하계동~용산구청),110000286,11387,노원평생학습관,0,0,0,...,0,21,2,25,0,8,0,0,0,20190203
3,201901,11110001,100,100번(하계동~용산구청),110000273,11374,서울시립북서울미술관,0,0,0,...,2,43,4,91,3,63,2,0,0,20190203
4,201901,11110001,100,100번(하계동~용산구청),110000272,11373,중계역,0,0,0,...,17,47,9,45,8,16,10,0,0,20190203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,9714번(교하운정~서울역),229000858,63675,책향기마을,0,65,2,...,152,0,89,0,115,0,159,0,124,20200103
465033,201912,91000034,9714,9714번(교하운정~서울역),229000857,63660,중앙공원,0,32,0,...,43,0,38,0,50,1,39,0,49,20200103
465034,201912,91000034,9714,9714번(교하운정~서울역),229000856,63658,우리은행앞,0,88,8,...,248,4,130,2,142,2,162,4,175,20200103
465035,201912,91000034,9714,9714번(교하운정~서울역),229000854,63656,청석마을8단지,0,25,0,...,103,0,68,1,85,3,55,0,69,20200103
465036,201912,91000034,9714,9714번(교하운정~서울역),229001663,63737,교하차고지,0,2,0,...,3,0,5,0,0,0,5,0,1,20200103

# 필요없는 컬럼을 지웁니다.

In [72]:
# 2022년 만seoul_bus_stop_commute = seoul_bus_stop_commute.drop(['버스정류장ARS번호','노선명', '교통수단타입코드', '등록일자', '교통수단타입명'], axis = 1 )
seoul_bus_stop_commute = seoul_bus_stop_commute.drop(['버스정류장ARS번호','노선명', '등록일자'], axis = 1 )
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,19시승차총승객수,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,66,54,57,45,9,5,6,2,0,2
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,24,0,21,2,25,0,8,0,0,0
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,65,2,43,4,91,3,63,2,0,0
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,48,17,47,9,45,8,16,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,0,152,0,89,0,115,0,159,0,124
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,0,43,0,38,0,50,1,39,0,49
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,5,248,4,130,2,142,2,162,4,175
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,0,103,0,68,1,85,3,55,0,69
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,0,3,0,5,0,0,0,5,0,1

# 만들고 싶은 컬럼을 생각해보았습니다.
### 출근시간
- 승차 : 4시~9시
- 하차 : 7시~10시


### 퇴근시간
- 승차 : 16시~19시
- 하차 : 17시~20시


### 늦게 퇴근하는 사람
- 승차 : 20시 ~ 00시
- 하차 : 21시 ~ 02시


### 점심시간  
- 출근시간에 하차한 인원이 모두 점심을 먹는다 가정 
- 12시 ~ 1시까지 하차한 사람 
- 11시~12시까지 승차한 사람
- 출근시간하차 12부터1시하차를 더하고  11부터12시승차를 뺀다 = 점심시간유동인구


### 저녁시간 
- 출근시간에 하차한사람에서 17시부터 20시 승차한 인원을 빼고 17시부터 20시 하차한사람을 더한값
- 이 사람이 저녁을 먹는지는 중요하지 않다고 생각함 -> 어차피 상권을 지나는 유동인구이기 때문


### 모든 시간의 총승차인원

### 모든 시간의 총하차인원

In [73]:
seoul_bus_stop_commute['출근시간(04~09) 승차'] = seoul_bus_stop_commute['4시승차총승객수'] + seoul_bus_stop_commute['5시승차총승객수'] + \
                                            seoul_bus_stop_commute['6시승차총승객수'] + seoul_bus_stop_commute['7시승차총승객수']  + \
                                            seoul_bus_stop_commute['8시승차총승객수'] + seoul_bus_stop_commute['9시승차총승객수']
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,출근시간(04~09) 승차
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,54,57,45,9,5,6,2,0,2,223
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,0,21,2,25,0,8,0,0,0,85
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,2,43,4,91,3,63,2,0,0,321
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,17,47,9,45,8,16,10,0,0,823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,152,0,89,0,115,0,159,0,124,5
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,43,0,38,0,50,1,39,0,49,1
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,248,4,130,2,142,2,162,4,175,3
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,103,0,68,1,85,3,55,0,69,4
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,3,0,5,0,0,0,5,0,1,0

In [74]:
seoul_bus_stop_commute['출근시간(07~10) 하차'] = seoul_bus_stop_commute['7시하차총승객수'] + seoul_bus_stop_commute['8시하차총승객수'] + \
                                            seoul_bus_stop_commute['9시하차총승객수'] + seoul_bus_stop_commute['10시하차총승객수']                                          
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,출근시간(04~09) 승차,출근시간(07~10) 하차
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,57,45,9,5,6,2,0,2,223,31
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,21,2,25,0,8,0,0,0,85,0
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,43,4,91,3,63,2,0,0,321,6
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,47,9,45,8,16,10,0,0,823,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,0,89,0,115,0,159,0,124,5,88
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,0,38,0,50,1,39,0,49,1,70
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,4,130,2,142,2,162,4,175,3,223
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,0,68,1,85,3,55,0,69,4,71
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,0,5,0,0,0,5,0,1,0,7

In [75]:
seoul_bus_stop_commute['퇴근시간(16~20) 승차'] = seoul_bus_stop_commute['16시승차총승객수'] + seoul_bus_stop_commute['17시승차총승객수'] + \
                                            seoul_bus_stop_commute['18시승차총승객수'] + seoul_bus_stop_commute['19시승차총승객수']  + \
                                            seoul_bus_stop_commute['20시승차총승객수']
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,45,9,5,6,2,0,2,223,31,232
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,2,25,0,8,0,0,0,85,0,148
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,4,91,3,63,2,0,0,321,6,424
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,9,45,8,16,10,0,0,823,6,293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,89,0,115,0,159,0,124,5,88,0
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,38,0,50,1,39,0,49,1,70,0
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,130,2,142,2,162,4,175,3,223,17
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,68,1,85,3,55,0,69,4,71,0
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,5,0,0,0,5,0,1,0,7,0

In [76]:
seoul_bus_stop_commute['퇴근시간(17~21) 하차'] = seoul_bus_stop_commute['17시하차총승객수'] + seoul_bus_stop_commute['18시하차총승객수'] + \
                                            seoul_bus_stop_commute['19시하차총승객수'] + seoul_bus_stop_commute['20시하차총승객수']   + \
                                            seoul_bus_stop_commute['21시하차총승객수']
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,9,5,6,2,0,2,223,31,232,140
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,25,0,8,0,0,0,85,0,148,4
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,91,3,63,2,0,0,321,6,424,16
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,45,8,16,10,0,0,823,6,293,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,0,115,0,159,0,124,5,88,0,629
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,0,50,1,39,0,49,1,70,0,228
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,2,142,2,162,4,175,3,223,17,961
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,1,85,3,55,0,69,4,71,0,376
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,0,0,0,5,0,1,0,7,0,13

In [77]:
seoul_bus_stop_commute['점심시간'] = seoul_bus_stop_commute['출근시간(07~10) 하차'] - seoul_bus_stop_commute['11시승차총승객수'] -\
                                    seoul_bus_stop_commute['12시승차총승객수'] + seoul_bus_stop_commute['12시하차총승객수'] + \
                                    seoul_bus_stop_commute['1시하차총승객수']
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,5,6,2,0,2,223,31,232,140,7
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,0,8,0,0,0,85,0,148,4,-42
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,3,63,2,0,0,321,6,424,16,-132
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,8,16,10,0,0,823,6,293,56,-194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,115,0,159,0,124,5,88,0,629,165
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,50,1,39,0,49,1,70,0,228,117
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,142,2,162,4,175,3,223,17,961,389
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,85,3,55,0,69,4,71,0,376,121
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,0,0,5,0,1,0,7,0,13,15

In [78]:
seoul_bus_stop_commute['저녁시간'] = seoul_bus_stop_commute['출근시간(07~10) 하차'] - seoul_bus_stop_commute['17시승차총승객수'] -\
                                    seoul_bus_stop_commute['18시승차총승객수'] - seoul_bus_stop_commute['19시승차총승객수'] - \
                                    seoul_bus_stop_commute['20시승차총승객수'] - seoul_bus_stop_commute['17시하차총승객수'] -\
                                    seoul_bus_stop_commute['18시하차총승객수'] - seoul_bus_stop_commute['19시하차총승객수'] - \
                                    seoul_bus_stop_commute['20시하차총승객수']
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,6,2,0,2,223,31,232,140,7,-315
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,8,0,0,0,85,0,148,4,-42,-118
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,63,2,0,0,321,6,424,16,-132,-299
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,16,10,0,0,823,6,293,56,-194,-278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,0,159,0,124,5,88,0,629,165,-426
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,1,39,0,49,1,70,0,228,117,-108
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,2,162,4,175,3,223,17,961,389,-611
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,3,55,0,69,4,71,0,376,121,-220
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,0,5,0,1,0,7,0,13,15,-6

In [79]:
seoul_bus_stop_commute['늦은시간(20~00) 승차'] = seoul_bus_stop_commute['20시승차총승객수'] + seoul_bus_stop_commute['21시승차총승객수'] + \
                                            seoul_bus_stop_commute['22시승차총승객수'] + seoul_bus_stop_commute['23시승차총승객수']  + \
                                            seoul_bus_stop_commute['00시승차총승객수']
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,22시하차총승객수,23시승차총승객수,23시하차총승객수,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,2,0,2,223,31,232,140,7,-315,72
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,0,0,0,85,0,148,4,-42,-118,54
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,2,0,0,321,6,424,16,-132,-299,197
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,10,0,0,823,6,293,56,-194,-278,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,159,0,124,5,88,0,629,165,-426,0
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,39,0,49,1,70,0,228,117,-108,1
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,162,4,175,3,223,17,961,389,-611,12
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,55,0,69,4,71,0,376,121,-220,4
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,5,0,1,0,7,0,13,15,-6,0

In [80]:
seoul_bus_stop_commute['늦은시간(21~02) 하차'] = seoul_bus_stop_commute['21시하차총승객수'] + seoul_bus_stop_commute['22시하차총승객수'] + \
                                            seoul_bus_stop_commute['23시하차총승객수'] + seoul_bus_stop_commute['00시하차총승객수']  + \
                                            seoul_bus_stop_commute['1시하차총승객수'] + seoul_bus_stop_commute['2시하차총승객수']
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,23시승차총승객수,23시하차총승객수,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,17
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,0,2,223,31,232,140,7,-315,72,16
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,0,0,85,0,148,4,-42,-118,54,0
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,0,0,321,6,424,16,-132,-299,197,5
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,0,0,823,6,293,56,-194,-278,108,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,0,124,5,88,0,629,165,-426,0,595
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,0,49,1,70,0,228,117,-108,1,219
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,4,175,3,223,17,961,389,-611,12,819
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,0,69,4,71,0,376,121,-220,4,344
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,0,1,0,7,0,13,15,-6,0,18

In [81]:
seoul_bus_stop_commute['총 승차 인원'] = seoul_bus_stop_commute['00시승차총승객수']
for i in range(1,24):
    STR = str(i) + "시승차총승객수"
    seoul_bus_stop_commute['총 승차 인원'] = seoul_bus_stop_commute['총 승차 인원'] + seoul_bus_stop_commute[STR]

seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,23시하차총승객수,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,0,17,58
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,2,223,31,232,140,7,-315,72,16,683
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,0,85,0,148,4,-42,-118,54,0,404
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,0,321,6,424,16,-132,-299,197,5,1391
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,0,823,6,293,56,-194,-278,108,18,1713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,124,5,88,0,629,165,-426,0,595,9
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,49,1,70,0,228,117,-108,1,219,3
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,175,3,223,17,961,389,-611,12,819,49
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,69,4,71,0,376,121,-220,4,344,10
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,1,0,7,0,13,15,-6,0,18,0

In [82]:
seoul_bus_stop_commute['총 하차 인원'] = seoul_bus_stop_commute['00시하차총승객수']
for i in range(1,24):
    STR = str(i) + "시하차총승객수"
    seoul_bus_stop_commute['총 하차 인원'] = seoul_bus_stop_commute['총 하차 인원'] + seoul_bus_stop_commute[STR]

seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,25,...,0,0,0,0,0,0,0,17,58,31
1,201901,11110001,100,110000327,한성여객종점,0,4,0,3,0,...,223,31,232,140,7,-315,72,16,683,223
2,201901,11110001,100,110000286,노원평생학습관,0,0,0,0,0,...,85,0,148,4,-42,-118,54,0,404,18
3,201901,11110001,100,110000273,서울시립북서울미술관,0,0,0,0,0,...,321,6,424,16,-132,-299,197,5,1391,71
4,201901,11110001,100,110000272,중계역,0,0,0,0,0,...,823,6,293,56,-194,-278,108,18,1713,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,0,65,2,59,2,...,5,88,0,629,165,-426,0,595,9,1418
465033,201912,91000034,9714,229000857,중앙공원,0,32,0,29,0,...,1,70,0,228,117,-108,1,219,3,619
465034,201912,91000034,9714,229000856,우리은행앞,0,88,8,124,4,...,3,223,17,961,389,-611,12,819,49,2313
465035,201912,91000034,9714,229000854,청석마을8단지,0,25,0,46,0,...,4,71,0,376,121,-220,4,344,10,824
465036,201912,91000034,9714,229001663,교하차고지,0,2,0,4,0,...,0,7,0,13,15,-6,0,18,0,63

In [83]:
# 이제 각 시간별 인원은 필요가 없다
seoul_bus_stop_commute = seoul_bus_stop_commute.drop(['00시승차총승객수', '00시하차총승객수'], axis = 1 )
for i in range(1,24):
    STR = str(i) + "시승차총승객수"
    STR_2 = str(i) + "시하차총승객수"
    seoul_bus_stop_commute = seoul_bus_stop_commute.drop([STR, STR_2], axis = 1 )

seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,0,0,0,17,58,31
1,201901,11110001,100,110000327,한성여객종점,223,31,232,140,7,-315,72,16,683,223
2,201901,11110001,100,110000286,노원평생학습관,85,0,148,4,-42,-118,54,0,404,18
3,201901,11110001,100,110000273,서울시립북서울미술관,321,6,424,16,-132,-299,197,5,1391,71
4,201901,11110001,100,110000272,중계역,823,6,293,56,-194,-278,108,18,1713,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,5,88,0,629,165,-426,0,595,9,1418
465033,201912,91000034,9714,229000857,중앙공원,1,70,0,228,117,-108,1,219,3,619
465034,201912,91000034,9714,229000856,우리은행앞,3,223,17,961,389,-611,12,819,49,2313
465035,201912,91000034,9714,229000854,청석마을8단지,4,71,0,376,121,-220,4,344,10,824
465036,201912,91000034,9714,229001663,교하차고지,0,7,0,13,15,-6,0,18,0,63

In [60]:
#seoul_bus_stop_commute["연도"] =  seoul_bus_stop_commute["사용년월"].str[:4]
seoul_bus_stop_commute.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465037 entries, 0 to 465036
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   사용년월            465037 non-null  int64
 1   노선ID            465037 non-null  int64
 2   노선번호            465037 non-null  object
 3   표준버스정류장ID       465037 non-null  int64
 4   역명              465037 non-null  object
 5   출근시간(04~09) 승차  465037 non-null  int64
 6   출근시간(07~10) 하차  465037 non-null  int64
 7   퇴근시간(16~20) 승차  465037 non-null  int64
 8   퇴근시간(17~21) 하차  465037 non-null  int64
 9   점심시간            465037 non-null  int64
 10  저녁시간            465037 non-null  int64
 11  늦은시간(20~00) 승차  465037 non-null  int64
 12  늦은시간(21~02) 하차  465037 non-null  int64
 13  총 승차 인원         465037 non-null  int64
 14  총 하차 인원         465037 non-null  int64
dtypes: int64(13), object(2)
memory usage: 53.2+ MB

In [61]:
# 연도 컬럼을 생성하자
seoul_bus_stop_commute = seoul_bus_stop_commute.astype({'사용년월' : 'string'})

In [62]:
seoul_bus_stop_commute["연도"] =  seoul_bus_stop_commute["사용년월"].str[:4]
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원,연도
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,0,0,0,17,58,31,2019
1,201901,11110001,100,110000327,한성여객종점,223,31,232,140,7,-315,72,16,683,223,2019
2,201901,11110001,100,110000286,노원평생학습관,85,0,148,4,-42,-118,54,0,404,18,2019
3,201901,11110001,100,110000273,서울시립북서울미술관,321,6,424,16,-132,-299,197,5,1391,71,2019
4,201901,11110001,100,110000272,중계역,823,6,293,56,-194,-278,108,18,1713,168,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,5,88,0,629,165,-426,0,595,9,1418,2019
465033,201912,91000034,9714,229000857,중앙공원,1,70,0,228,117,-108,1,219,3,619,2019
465034,201912,91000034,9714,229000856,우리은행앞,3,223,17,961,389,-611,12,819,49,2313,2019
465035,201912,91000034,9714,229000854,청석마을8단지,4,71,0,376,121,-220,4,344,10,824,2019
465036,201912,91000034,9714,229001663,교하차고지,0,7,0,13,15,-6,0,18,0,63,2019

In [63]:
# 원본데이터에 ( ) 가 들어가 있는 경우가 있었다. 그걸 지우기 위한 데이터 프로세싱 과정이다.
for i in range(len(seoul_bus_stop_commute)):
    if seoul_bus_stop_commute['역명'][i][len(seoul_bus_stop_commute['역명'][i])-1:] == ')':
        seoul_bus_stop_commute['역명'][i] = seoul_bus_stop_commute['역명'][i][:(len(seoul_bus_stop_commute['역명'][i])-7)]

/tmp/ipykernel_38465/3124888760.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_bus_stop_commute['역명'][i] = seoul_bus_stop_commute['역명'][i][:(len(seoul_bus_stop_commute['역명'][i])-7)]

In [64]:
seoul_bus_stop_commute

,사용년월,노선ID,노선번호,표준버스정류장ID,역명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원,연도
0,201901,11110364,N13,110000184,석계역2번출구,0,0,0,0,0,0,0,17,58,31,2019
1,201901,11110001,100,110000327,한성여객종점,223,31,232,140,7,-315,72,16,683,223,2019
2,201901,11110001,100,110000286,노원평생학습관,85,0,148,4,-42,-118,54,0,404,18,2019
3,201901,11110001,100,110000273,서울시립북서울미술관,321,6,424,16,-132,-299,197,5,1391,71,2019
4,201901,11110001,100,110000272,중계역,823,6,293,56,-194,-278,108,18,1713,168,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,201912,91000034,9714,229000858,책향기마을,5,88,0,629,165,-426,0,595,9,1418,2019
465033,201912,91000034,9714,229000857,중앙공원,1,70,0,228,117,-108,1,219,3,619,2019
465034,201912,91000034,9714,229000856,우리은행앞,3,223,17,961,389,-611,12,819,49,2313,2019
465035,201912,91000034,9714,229000854,청석마을8단지,4,71,0,376,121,-220,4,344,10,824,2019
465036,201912,91000034,9714,229001663,교하차고지,0,7,0,13,15,-6,0,18,0,63,2019

In [65]:
#seoul_bus_stop_commute = seoul_bus_stop_commute({'사용년월' : 'string'})
seoul_bus_stop_commute.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465037 entries, 0 to 465036
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   사용년월            465037 non-null  string
 1   노선ID            465037 non-null  int64
 2   노선번호            465037 non-null  object
 3   표준버스정류장ID       465037 non-null  int64
 4   역명              465037 non-null  object
 5   출근시간(04~09) 승차  465037 non-null  int64
 6   출근시간(07~10) 하차  465037 non-null  int64
 7   퇴근시간(16~20) 승차  465037 non-null  int64
 8   퇴근시간(17~21) 하차  465037 non-null  int64
 9   점심시간            465037 non-null  int64
 10  저녁시간            465037 non-null  int64
 11  늦은시간(20~00) 승차  465037 non-null  int64
 12  늦은시간(21~02) 하차  465037 non-null  int64
 13  총 승차 인원         465037 non-null  int64
 14  총 하차 인원         465037 non-null  int64
 15  연도              465037 non-null  string
dtypes: int64(12), object(2), string(2)
memory usage: 56.8+ MB

In [66]:
# 월칼럼도 만들어주고 컬럼의 위치를 바꿔주었다.
seoul_bus_stop_commute['월'] = seoul_bus_stop_commute['사용년월'].str[4:]
seoul_bus_stop_commute = seoul_bus_stop_commute.drop('사용년월', axis = 1 )
seoul_bus_stop_commute = seoul_bus_stop_commute[['노선번호','표준버스정류장ID','역명', '연도', '월', '총 승차 인원', '총 하차 인원', '출근시간(04~09) 승차', '출근시간(07~10) 하차',
                    '퇴근시간(16~20) 승차', '퇴근시간(17~21) 하차', '늦은시간(20~00) 승차', '늦은시간(21~02) 하차', '점심시간','저녁시간']]

In [67]:
seoul_bus_stop_commute

,노선번호,표준버스정류장ID,역명,연도,월,총 승차 인원,총 하차 인원,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,늦은시간(20~00) 승차,늦은시간(21~02) 하차,점심시간,저녁시간
0,N13,110000184,석계역2번출구,2019,01,58,31,0,0,0,0,0,17,0,0
1,100,110000327,한성여객종점,2019,01,683,223,223,31,232,140,72,16,7,-315
2,100,110000286,노원평생학습관,2019,01,404,18,85,0,148,4,54,0,-42,-118
3,100,110000273,서울시립북서울미술관,2019,01,1391,71,321,6,424,16,197,5,-132,-299
4,100,110000272,중계역,2019,01,1713,168,823,6,293,56,108,18,-194,-278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465032,9714,229000858,책향기마을,2019,12,9,1418,5,88,0,629,0,595,165,-426
465033,9714,229000857,중앙공원,2019,12,3,619,1,70,0,228,1,219,117,-108
465034,9714,229000856,우리은행앞,2019,12,49,2313,3,223,17,961,12,819,389,-611
465035,9714,229000854,청석마을8단지,2019,12,10,824,4,71,0,376,4,344,121,-220
465036,9714,229001663,교하차고지,2019,12,0,63,0,7,0,13,0,18,15,-6

In [68]:
# 저장을 한다.
seoul_bus_stop_commute.to_csv('./2019_bus_commuter.csv', index=False)