# (4/4)
# 서울시 버스정류장별 위치데이터를 얻어왔습니다.
http://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do#

## 이 데이터를 (3/4)의 데이터에 저장하는 것이 이번 가공의 목적입니다.

In [16]:
import pandas as pd

In [35]:
#2022 , 2021년의 경우
#bus_location_2022_10 = pd.read_csv('./2022_bus_location.csv', encoding='EUC-KR')
#bus_location_2022_10 = bus_location_2022_10.drop(['정류소명', 'ARS-ID'], axis=1)

bus_location_2022_10 = pd.read_excel('./2019_bus_location.xlsx')
#2019년의 경우 바뀜
bus_location_2022_10 = bus_location_2022_10.drop(['정류장명', 'ARSID'], axis=1)
#bus_location_2022_10 = bus_location_2022_10.drop(['정류장명', 'ARS-ID', '비고'], axis=1)
bus_location_2022_10

            표준ID         X좌표        Y좌표
0      100000001  126.987786  37.569764
1      100000002  126.996520  37.579179
2      100000003  126.998290  37.582709
3      100000004  126.987507  37.568582
4      100000005  127.001694  37.586230
...          ...         ...        ...
11175  124000334  127.139326  37.550442
11176  124000333  127.140052  37.550620
11177  124000332  127.123477  37.533686
11178  124000331  127.125410  37.536199
11179  124000330  127.127354  37.540390

[11180 rows x 3 columns]

In [36]:
bus_data_2022_10 = pd.read_csv('./bus_stop_file/bus_data_2019_10_final.csv')
bus_data_2022_10

,연도,월,표준버스정류장ID,역명,환승 가능한 버스의 수,총 승차 인원,총 하차 인원,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,늦은시간(20~00) 승차,늦은시간(21~02) 하차,점심시간,저녁시간
0,2022,10,100000001,종로2가사거리,4,15331,18343,4253,3536,3532,4971,2481,2435,3824,-3749
1,2022,10,100000002,창경궁.서울대학교병원,17,82567,72002,22954,36400,28399,6374,9109,1777,31003,8707
2,2022,10,100000003,명륜3가.성대입구,17,140393,101718,25950,34136,45339,19088,35531,5501,28084,-19255
3,2022,10,100000004,종로2가.삼일교,5,24172,25003,1725,6622,9544,6125,6956,1824,6146,-6486
4,2022,10,100000005,혜화동로터리.여운형활동터,16,54650,95239,17508,26997,13327,22735,7798,5626,27073,-3657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12641,2022,10,999800001,김포교,6,902,75,284,16,235,21,62,5,-112,-167
12642,2022,10,999800002,김포교,6,0,88,0,23,0,24,0,10,29,1
12643,2022,10,999800003,구미동차고,1,85,83,16,8,23,8,7,10,11,-10
12644,2022,10,999800004,구미동차고,1,0,98,0,8,0,25,0,42,15,-10
12645,2022,10,999800005,가좌동종,2,0,298,0,121,0,58,0,84,151,72

In [37]:
#2022년의 경우 NODE_ID
bus_data_2022_10_insert =pd.merge(bus_data_2022_10, bus_location_2022_10, left_on='표준버스정류장ID', right_on='표준ID', how='inner')
bus_data_2022_10_insert

,연도,월,표준버스정류장ID,역명,환승 가능한 버스의 수,총 승차 인원,총 하차 인원,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,늦은시간(20~00) 승차,늦은시간(21~02) 하차,점심시간,저녁시간,표준ID,X좌표,Y좌표
0,2022,10,100000001,종로2가사거리,4,15331,18343,4253,3536,3532,4971,2481,2435,3824,-3749,100000001,126.987786,37.569764
1,2022,10,100000002,창경궁.서울대학교병원,17,82567,72002,22954,36400,28399,6374,9109,1777,31003,8707,100000002,126.996520,37.579179
2,2022,10,100000003,명륜3가.성대입구,17,140393,101718,25950,34136,45339,19088,35531,5501,28084,-19255,100000003,126.998290,37.582709
3,2022,10,100000004,종로2가.삼일교,5,24172,25003,1725,6622,9544,6125,6956,1824,6146,-6486,100000004,126.987507,37.568582
4,2022,10,100000005,혜화동로터리.여운형활동터,16,54650,95239,17508,26997,13327,22735,7798,5626,27073,-3657,100000005,127.001694,37.586230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10515,2022,10,124900109,고덕초등학교,2,482,969,175,384,111,210,32,86,412,128,124900109,127.165440,37.560067
10516,2022,10,124900110,고덕2단지,2,2049,2228,830,350,517,826,140,423,240,-699,124900110,127.162906,37.560282
10517,2022,10,124900111,가래여울,1,39,2253,8,956,9,412,1,137,1047,589,124900111,127.168974,37.576545
10518,2022,10,124900112,고덕래미안힐스테이트시니어센터,2,2092,12114,1110,1023,409,5726,213,2791,1377,-4031,124900112,127.148073,37.559227
10519,2022,10,129000186,효죽동입구,1,3440,1590,745,714,1595,300,220,71,479,-897,129000186,127.142036,37.512285

In [38]:
bus_data_2022_10_insert = bus_data_2022_10_insert.drop(['표준ID'], axis=1)
bus_data_2022_10_insert

,연도,월,표준버스정류장ID,역명,환승 가능한 버스의 수,총 승차 인원,총 하차 인원,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,늦은시간(20~00) 승차,늦은시간(21~02) 하차,점심시간,저녁시간,X좌표,Y좌표
0,2022,10,100000001,종로2가사거리,4,15331,18343,4253,3536,3532,4971,2481,2435,3824,-3749,126.987786,37.569764
1,2022,10,100000002,창경궁.서울대학교병원,17,82567,72002,22954,36400,28399,6374,9109,1777,31003,8707,126.996520,37.579179
2,2022,10,100000003,명륜3가.성대입구,17,140393,101718,25950,34136,45339,19088,35531,5501,28084,-19255,126.998290,37.582709
3,2022,10,100000004,종로2가.삼일교,5,24172,25003,1725,6622,9544,6125,6956,1824,6146,-6486,126.987507,37.568582
4,2022,10,100000005,혜화동로터리.여운형활동터,16,54650,95239,17508,26997,13327,22735,7798,5626,27073,-3657,127.001694,37.586230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10515,2022,10,124900109,고덕초등학교,2,482,969,175,384,111,210,32,86,412,128,127.165440,37.560067
10516,2022,10,124900110,고덕2단지,2,2049,2228,830,350,517,826,140,423,240,-699,127.162906,37.560282
10517,2022,10,124900111,가래여울,1,39,2253,8,956,9,412,1,137,1047,589,127.168974,37.576545
10518,2022,10,124900112,고덕래미안힐스테이트시니어센터,2,2092,12114,1110,1023,409,5726,213,2791,1377,-4031,127.148073,37.559227
10519,2022,10,129000186,효죽동입구,1,3440,1590,745,714,1595,300,220,71,479,-897,127.142036,37.512285

# 최종 버스 데이터입니다.

In [39]:
bus_data_2022_10_insert.to_csv('./2019_10_bus_data_final.csv', index=False)