In [1]:
import pandas as pd

In [2]:
location = pd.read_csv('./speed_location_first.csv', encoding='EUC-KR')
location

             위치         도로명 포함 주소        long        lat
0        남부교육청앞      버드나루로 남부교육청앞  126.895507  37.519400
1        혜화동로터리       창경궁로 혜화동로터리  127.001217  37.585533
2           강변역          강변역로 강변역  127.094695  37.535098
3      신한은행암사지점  올림픽로98길 신한은행암사지점  127.129245  37.550553
4       이촌동두산위브    이촌로51길 이촌동두산위브  126.966070  37.516122
...         ...               ...         ...        ...
3129       증산3교         거북골로 증산3교  126.906310  37.580087
3130     잠실3삼거리        삼전로 잠실3삼거리         NaN        NaN
3131    마장동주민센터       마장로 마장동주민센터  127.045393  37.566281
3132     대방천사거리       대방천로 대방천사거리         NaN        NaN
3133  방화119안전센터    금낭화로 방화119안전센터  126.814263  37.579752

[3134 rows x 4 columns]

In [4]:
location.head(10)

          위치         도로명 포함 주소        long        lat
0     남부교육청앞      버드나루로 남부교육청앞  126.895507  37.519400
1     혜화동로터리       창경궁로 혜화동로터리  127.001217  37.585533
2        강변역          강변역로 강변역  127.094695  37.535098
3   신한은행암사지점  올림픽로98길 신한은행암사지점  127.129245  37.550553
4    이촌동두산위브    이촌로51길 이촌동두산위브  126.966070  37.516122
5      신촌로터리         신촌로 신촌로터리  126.936835  37.555119
6       신양초교          능동로 신양초교  127.069156  37.534568
7  우이제3교(북단)    우이천로 우이제3교(북단)   15.061587  -7.610210
8     구룡마을입구        선릉로 구룡마을입구  127.138154  37.004771
9     청담대교남단      분당수서로 청담대교남단  127.064462  37.526569

In [19]:
fail = pd.read_csv('./누락수정.csv', encoding='EUC-KR')
fail

,위치,도로명 포함 주소,url,long,lat,실패_인덱스
0,우이제3교(북단),우이천로 우이제3교(북단),http://kko.to/u8zRmeRQJd,127.036450,"37.63690855660938,",7
1,홍은램프진입(내부순환로),내부순환로 홍은램프진입(내부순환로),http://kko.to/StbHDfgnFN,126.948447,"37.59465377995093,",21
2,암사정수센터,아리수로 암사정수센터,http://kko.to/dn_Gnm85oJ,127.144108,"37.55866345755937,",37
3,한국방송공사앞,여의서로 한국방송공사앞,http://kko.to/yzK_6dH2ww,126.916084,"37.52325102836081,",39
4,여의하류IC,노들로 여의하류IC,http://kko.to/9GQduBLMEA,126.909702,"37.532256337365595,",44
...,...,...,...,...,...,...
220,잠실3삼거리,삼전로 잠실3삼거리,http://kko.to/yNPtksQ8qu,127.093144,"37.51030570428685,",3130
221,대방천사거리,대방천로 대방천사거리,http://kko.to/iG5tEPnxmM,126.920165,"37.49853030111654,",3132
222,동부간선도로-일반국도6호선램프,동부간선도로 동부간선도로-일반국도6호선램프,http://kko.to/Q4AwqSdVsl,127.069781,"37.59278476377926,",1875
223,북한남삼거리,이태원로 북한남삼거리,http://kko.to/ELeVBpiUyE,127.002331,"37.54200362024759,",663
224,북한남삼거리,한남대로 북한남삼거리,http://kko.to/ELeVBpiUyE,127.002331,"37.54200362024759,",1475

In [20]:
fail['lat'] = fail['lat'].str[:9]

In [21]:
fail

,위치,도로명 포함 주소,url,long,lat,실패_인덱스
0,우이제3교(북단),우이천로 우이제3교(북단),http://kko.to/u8zRmeRQJd,127.036450,37.636908,7
1,홍은램프진입(내부순환로),내부순환로 홍은램프진입(내부순환로),http://kko.to/StbHDfgnFN,126.948447,37.594653,21
2,암사정수센터,아리수로 암사정수센터,http://kko.to/dn_Gnm85oJ,127.144108,37.558663,37
3,한국방송공사앞,여의서로 한국방송공사앞,http://kko.to/yzK_6dH2ww,126.916084,37.523251,39
4,여의하류IC,노들로 여의하류IC,http://kko.to/9GQduBLMEA,126.909702,37.532256,44
...,...,...,...,...,...,...
220,잠실3삼거리,삼전로 잠실3삼거리,http://kko.to/yNPtksQ8qu,127.093144,37.510305,3130
221,대방천사거리,대방천로 대방천사거리,http://kko.to/iG5tEPnxmM,126.920165,37.498530,3132
222,동부간선도로-일반국도6호선램프,동부간선도로 동부간선도로-일반국도6호선램프,http://kko.to/Q4AwqSdVsl,127.069781,37.592784,1875
223,북한남삼거리,이태원로 북한남삼거리,http://kko.to/ELeVBpiUyE,127.002331,37.542003,663
224,북한남삼거리,한남대로 북한남삼거리,http://kko.to/ELeVBpiUyE,127.002331,37.542003,1475

In [22]:
index_fail = fail['실패_인덱스']
index_fail

0         7
1        21
2        37
3        39
4        44
       ...
220    3130
221    3132
222    1875
223     663
224    1475
Name: 실패_인덱스, Length: 225, dtype: int64

In [23]:
count = 0
for i in index_fail:
    location['long'][i] = fail['long'][count]
    location['lat'][i] = fail['lat'][count]
    count = count+1

location

C:\Users\김두엽\AppData\Local\Temp\ipykernel_37624\3334588365.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location['long'][i] = fail['long'][count]

             위치         도로명 포함 주소        long        lat
0        남부교육청앞      버드나루로 남부교육청앞  126.895507    37.5194
1        혜화동로터리       창경궁로 혜화동로터리  127.001217  37.585533
2           강변역          강변역로 강변역  127.094695  37.535098
3      신한은행암사지점  올림픽로98길 신한은행암사지점  127.129245  37.550553
4       이촌동두산위브    이촌로51길 이촌동두산위브  126.966070  37.516122
...         ...               ...         ...        ...
3129       증산3교         거북골로 증산3교  126.906310  37.580087
3130     잠실3삼거리        삼전로 잠실3삼거리  127.093144  37.510305
3131    마장동주민센터       마장로 마장동주민센터  127.045393  37.566281
3132     대방천사거리       대방천로 대방천사거리  126.920165  37.498530
3133  방화119안전센터    금낭화로 방화119안전센터  126.814263  37.579752

[3134 rows x 4 columns]

In [24]:
location.head(10)

          위치         도로명 포함 주소        long        lat
0     남부교육청앞      버드나루로 남부교육청앞  126.895507    37.5194
1     혜화동로터리       창경궁로 혜화동로터리  127.001217  37.585533
2        강변역          강변역로 강변역  127.094695  37.535098
3   신한은행암사지점  올림픽로98길 신한은행암사지점  127.129245  37.550553
4    이촌동두산위브    이촌로51길 이촌동두산위브  126.966070  37.516122
5      신촌로터리         신촌로 신촌로터리  126.936835  37.555119
6       신양초교          능동로 신양초교  127.069156  37.534568
7  우이제3교(북단)    우이천로 우이제3교(북단)  127.036450  37.636908
8     구룡마을입구        선릉로 구룡마을입구  127.138154  37.004771
9     청담대교남단      분당수서로 청담대교남단  127.064462  37.526569

In [25]:
location.to_csv('./도로별 위치 정보.csv', encoding='EUC-KR', index=False)