# 가공한 데이터에 위치정보를 삽입하는 과정을 보입니다.
- 서울시 지하철 위도경도 데이터를 사용했습니다.

In [2]:
import pandas as pd

In [7]:
metro_2022_10 = pd.read_csv('./1차가공/metro_2022.csv')
metro_2022_10

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도
0,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508,10,2022
1,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734,10,2022
2,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022
3,202210,1호선,시청,31653,231553,378920,82100,285755,155949,20663,757962,771444,10,2022
4,202210,1호선,신설동,79771,86409,140613,89209,83295,64077,45002,401725,387550,10,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,202210,중앙선,원덕,3608,2602,3579,3321,2578,2493,1590,14224,13376,10,2022
611,202210,중앙선,중랑,68356,15982,28750,66832,10162,19916,29833,171798,163245,10,2022
612,202210,중앙선,지평,629,952,398,559,1104,1180,162,2137,2306,10,2022
613,202210,중앙선,팔당,5260,11090,13140,6457,13185,8174,1487,35541,38137,10,2022
614,202210,중앙선,회기,196574,133173,227419,239431,121422,96614,152757,828890,799460,10,2022

In [8]:
metro_location = pd.read_csv('./station_location.csv', encoding="EUC-KR")
metro_location

     line    name    code        lat         lng
0    01호선      녹양  1908.0  37.759380  127.042292
1    01호선      남영  1002.0  37.541021  126.971300
2    01호선      용산  1003.0  37.529849  126.964561
3    01호선     노량진  1004.0  37.514219  126.942454
4    01호선      대방  1005.0  37.513342  126.926382
..    ...     ...     ...        ...         ...
725   인천선  지식정보단지  3135.0  37.378384  126.645168
726   인천선   인천대입구  3136.0  37.386007  126.639484
727   인천선   센트럴파크  3137.0  37.393054  126.634729
728   인천선  국제업무지구  3138.0  37.399907  126.630347
729   인천선   간석오거리  3123.0  37.467048  126.707938

[730 rows x 5 columns]

In [9]:
metro_location['lat'].value_counts()

37.554648    4
37.561533    4
37.544018    4
37.580178    4
37.562434    4
            ..
37.349801    1
37.351735    1
37.338212    1
37.327082    1
37.467048    1
Name: lat, Length: 582, dtype: int64

In [10]:
metro_check = metro_location[metro_location['lat'].isin([37.554648])]
metro_check

     line name    code        lat         lng
95   01호선  서울역   150.0  37.554648  126.972559
212  04호선  서울역   426.0  37.554648  126.972559
476   경의선  서울역  1251.0  37.554648  126.972559
535  공항철도  서울역  4201.0  37.554648  126.972559

In [11]:
len(metro_2022_10)

615

In [12]:
metro_2022_10_file =pd.merge(metro_2022_10, metro_location , left_on='지하철역', right_on='name', how='left')
metro_2022_10_file

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,line,name,code,lat,lng
0,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508,10,2022,01호선,동대문,155.0,37.571420,127.009745
1,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508,10,2022,04호선,동대문,421.0,37.571420,127.009745
2,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734,10,2022,01호선,동묘앞,159.0,37.572627,127.016429
3,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734,10,2022,06호선,동묘앞,2637.0,37.572627,127.016429
4,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022,01호선,서울역,150.0,37.554648,126.972559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,202210,중앙선,지평,629,952,398,559,1104,1180,162,2137,2306,10,2022,경의선,지평,1220.0,37.476444,127.629617
796,202210,중앙선,팔당,5260,11090,13140,6457,13185,8174,1487,35541,38137,10,2022,경의선,팔당,1210.0,37.547371,127.243939
797,202210,중앙선,회기,196574,133173,227419,239431,121422,96614,152757,828890,799460,10,2022,01호선,회기,1015.0,37.589460,127.057583
798,202210,중앙선,회기,196574,133173,227419,239431,121422,96614,152757,828890,799460,10,2022,경의선,회기,NaN,37.589460,127.057583
799,202210,중앙선,회기,196574,133173,227419,239431,121422,96614,152757,828890,799460,10,2022,경춘선,회기,1307.0,37.589460,127.057583

In [13]:
metro_2022_10_file_2 = metro_2022_10_file.drop(["line", "name", "code"], axis=1)
metro_2022_10_file_2.head(10)

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508,10,2022,37.571420,127.009745
1,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508,10,2022,37.571420,127.009745
2,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734,10,2022,37.572627,127.016429
3,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734,10,2022,37.572627,127.016429
4,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022,37.554648,126.972559
5,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022,37.554648,126.972559
6,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022,37.554648,126.972559
7,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022,37.554648,126.972559
8,202210,1호선,시청,31653,231553,378920,82100,285755,155949,20663,757962,771444,10,2022,37.564718,126.977108
9,202210,1호선,시청,31653,231553,378920,82100,285755,155949,20663,757962,771444,10,2022,37.564718,126.977108

In [14]:
metro_2022_10_file_3 = metro_2022_10_file_2.drop_duplicates(['호선명', '지하철역'])
metro_2022_10_file_3

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508,10,2022,37.571420,127.009745
2,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734,10,2022,37.572627,127.016429
4,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022,37.554648,126.972559
8,202210,1호선,시청,31653,231553,378920,82100,285755,155949,20663,757962,771444,10,2022,37.564718,126.977108
10,202210,1호선,신설동,79771,86409,140613,89209,83295,64077,45002,401725,387550,10,2022,37.575297,127.025087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,202210,중앙선,원덕,3608,2602,3579,3321,2578,2493,1590,14224,13376,10,2022,37.468672,127.547076
793,202210,중앙선,중랑,68356,15982,28750,66832,10162,19916,29833,171798,163245,10,2022,37.594917,127.076116
795,202210,중앙선,지평,629,952,398,559,1104,1180,162,2137,2306,10,2022,37.476444,127.629617
796,202210,중앙선,팔당,5260,11090,13140,6457,13185,8174,1487,35541,38137,10,2022,37.547371,127.243939
797,202210,중앙선,회기,196574,133173,227419,239431,121422,96614,152757,828890,799460,10,2022,37.589460,127.057583

# 데이터 수량이 계속 달라서 수량을 맞추기 위해서 전처리를 하다보니.

In [15]:
len(metro_2022_10_file_3) == len(metro_2022_10)

True

In [16]:
metro_2022_10_file_3.to_csv('./metro_2022_10_location.csv')